<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <img src="img/close.png" alt="">
    </div>
    <div class="header-logo">
      <a href="/"><img src="img/logo.svg" alt="JLG"></a>
    </div>
    <div class="accordion" id="accordionExample">

      <div class="card mb-3">
        <div class="card-header" id="product">
          <button class="btn btn-link collapsed"
                  data-toggle="collapse" data-target="#collapseProduct"
                  aria-expanded="false" aria-controls="collapseProduct">
            Каталог
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <div id="collapseProduct" class="collapse" aria-labelledby="product" data-parent="#accordionExample">
          <a href="/" class="card-body d-block">
            Шины для грузовых машин
          </a>
          <a href="/" class="card-body d-block">
            Шины для сельхозтехники
          </a>
          <a href="/" class="card-body d-block">
            Шины для спецтехники
          </a>
        </div>
      </div>
      <a href="/" class="btn btn-link mb-3">
        Модели
      </a>
      <a href="/" class="btn btn-link mb-3">
        О компании
      </a>
      <a href="/" class="btn btn-link mb-3">
        Контакты
      </a>
      <div class="card btn-link">

        <div class="header-search pt-1 pb-1 w-100 d-block position-relative">
          <div class="row">
            <div class="col-md-12">
              <form action="" class="search-area  d-flex w-100 align-items-center">
                <div class="form-group custom-form-group m-0">
                  <input class="form-control w-100"
                         id="title-search-input" type="text" value=""
                         placeholder="Найти"
                         size="40" maxlength="50" autocomplete="off">
                </div>
                <div class="header-search-btn">
                  <a class="btn btn-blue" type="submit" value="Найти">Найти</a>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </nav>
</div>
<div class="overlay"></div>
<script type="text/javascript">
  $(document).ready(function () {
    // $("#sidebar").mCustomScrollbar({
    //   theme: "minimal"
    // });

    $("#dismiss, .overlay").on("click", function () {
      $("#sidebar").removeClass("active");
      $(".overlay").removeClass("active");
    });

    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").addClass("active");
      $(".overlay").addClass("active");
      $(".collapse.in").toggleClass("in");
      $("a[aria-expanded=true]").attr("aria-expanded", "false");
    });
  });
</script>
