@import "../../../sass/vars"
.overlay
  top: 0
  transition: all 0.9s
  //display: block
  //pointer-events: none
#sidebar
  transition: all 0.4s
  width: 100%
  //width: 16.875rem
  padding-top: 1.25rem
  left: -200%
  .header-logo
    margin: 0 2.1875rem 1.875rem 2.1875rem
#dismiss
  top: 0.3125rem
  right: 0.3125rem
#sidebar,
#sidebar .sidebar-header
  background-color: $white

.card
  background-color: transparent
  border: none
  border-radius: 0
  .form-control
    border-color: #d8d8d8
  .header-search-btn
    margin-left: 1.25rem
    .btn
      padding: 0.3125rem 1.25rem
      text-decoration-line: none

.card-header
  padding: 0
  background-color: transparent
  border-bottom: none
  .btn
    text-align: left
//color: $black
.btn-link
  width: 100%
  display: block
  text-align: left
  color: #272727
  font: 400 1rem/1.375rem 'OpenSans'
  padding-right: 0.9375rem
  padding-left: 0.9375rem
  text-decoration-line: none!important

.collapse.show,
.collapsing,
.collapse
  padding: 0 0 0 1rem

.card-body
  //font: 300 0.75rem/0.875rem 'SFProDisplay-Light', sans-serif
  font: 0.9rem/0.9rem 'OpenSans', sans-serif
  padding: 0.5rem 0.75rem
  color: #272727
  //background-color: $orange
  &:hover
    color: $color2

#dismiss
  background-color: transparent
  &:hover
    background: transparent
    color: #FFFFFF

.btn-info
  font-size: 40px

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle,
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active
  color: #000
  background-color: transparent
  border-color: transparent
  box-shadow: none

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus
  box-shadow: none

//#sidebar
//  .collapse, .collapsing
//    a + a
//      padding-left: 1.25rem

@media (min-width: 768px)
  #sidebar
    width: 50%
