
<script>
  AOS.init();
</script>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
<script src="libs/slick/slick.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>
