<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, height=device-height,minimum-scale=1.0, initial-scale=1.0"/>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="libs/jquery.js"></script>

  <script src="libs/bootstrap/js/bootstrap.js"></script>
  <script src="libs/jquery-ui/jquery-ui.js"></script>
  <script src="libs/jquery-ui/jquery-ui-touch.js"></script>
  <script src="libs/fancy/jquery.fancybox.min.js"></script>

  <script src="libs/aos-master/aos.js"></script>
  <link href="libs/aos-master/aos.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>



  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>

  <script src="libs/validate/validate.min.js"></script>

  <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-grid.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="libs/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="libs/fancy/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="libs/sidebar/style3.css" />
  <link rel="stylesheet" href="fonts/stylesheet.css" />
  <link rel="stylesheet" href="css/style.bundle.css"/>

  <title><%=title%></title>
</head>
<body>

