<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item ">
      <a href="/"><span>На главную</span></a>
    </li>
    <li class="breadcrumb-item "><span>Модели</span></li>
    <li class="breadcrumb-item "><span>Модели</span></li>
    <li class="breadcrumb-item "><span>Модели</span></li>
    <li class="breadcrumb-item "><span>Модели</span></li>
    <li class="breadcrumb-item "><span>Модели</span></li>
    <li class="breadcrumb-item active"><span>Модели</span></li>
  </ol>
</nav>

