@import "../../../sass/vars"
.breadcrumb
  margin: 0
  //margin: 1.563rem 0 2.313rem 0
  padding: 1.375rem 0 1.25rem
  background-color: transparent

.breadcrumb-item + .breadcrumb-item::before
  content: url('../img/arrow.png')
  padding-right: 0.475rem

.breadcrumb-item + .breadcrumb-item
  padding-left: 0.475rem
//.breadcrumb-item.active span

.breadcrumb-item
  display: flex
  align-items: center
  a, span
    color: $color6
    font: 400 0.9375rem/1.625rem 'OpenSans'

.breadcrumb-item.active span
  color: $color2
  text-decoration-line: underline

