<div class="modal fade custom-modal" id="delete-product"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="img/close.png" alt="">
      </button>
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">
          Удалить товар?
        </h5>

      </div>
      <div class="buttons-area justify-content-around">
        <a href="#" class="btn btn-blue ">Да</a>
        <a href="#" class="btn btn-red">Нет</a>
      </div>
    </div>
  </div>
</div>


<div
  data-name="tooltip-map-point-3"
  class="tooltip drop-window popup-contact-map-address">
  <h6>Орел</h6>
  <div class="popup-address-list d-flex flex-column">
    <div class="popup-address d-flex align-items-baseline">
      <div class="popup-address-img">
        <span></span>
      </div>
      <div class="popup-address-info">
        <b>Центральный офис: </b>г.Орел, ул. Московское
        шоссе д. 173
      </div>
    </div>
    <hr>
    <div class="popup-address d-flex align-items-baseline">
      <div class="popup-address-img">
        <span></span>
      </div>
      <div class="popup-address-info">
        <b>Склад </b>г.Орел, ул. Московское
        шоссе д. 173
      </div>
    </div>
    <hr>
    <div class="popup-address d-flex align-items-baseline">
      <div class="popup-address-img">
        <span></span>
      </div>
      <div class="popup-address-info">
        <b>Склад </b>г.Орел, ул. Московское
        шоссе д. 173
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="modal fade custom-modal" id="modal-contact-map"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="img/close.png" alt="">
      </button>
      <div class="modal-header">
        <h5 class="modal-title">
          <b>Все</b> контакты
        </h5>
      </div>
      <div class="popup-contact-map-address">
        <div>
          <h6>Орел</h6>
          <div class="popup-address-list d-flex flex-column">
            <div>
              <div class="popup-address d-flex align-items-baseline">
                <div class="popup-address-img">
                  <span></span>
                </div>
                <div class="popup-address-info d-flex flex-wrap">
                  <b>Центральный офис: </b>г.Орел, ул. Московское
                  шоссе д. 173&nbsp; <span class="btn p-0" name="btn-map-1">показать на карте </span>
                </div>
              </div>
              <div class="popup-address d-flex align-items-baseline">
                <div class="popup-address-img">
                  <span></span>
                </div>
                <div class="popup-address-info d-flex flex-wrap">
                  <b>Склад </b>г.Орел, ул. Московское
                  шоссе д. 173&nbsp;
                  <span href="#" class="btn p-0" name="btn-map-1">показать на карте </span>
                </div>
              </div>
              <div class="modal-map" name="map-1">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaf74b1146283728e670e6d108d1bfbf0453400909da7c668b436941b07a6138c&amp;width=auto&amp;scroll=true"></script>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div>
          <hr>
          <h6>Москва</h6>
          <div class="popup-address-list d-flex flex-column">
            <div>
              <div class="popup-address d-flex align-items-baseline">
                <div class="popup-address-img">
                  <span></span>
                </div>
                <div class="popup-address-info d-flex flex-wrap">
                  <b>Центральный офис: </b>г.Орел, ул. Московское
                  шоссе д. 173&nbsp;<span class="btn p-0">показать на карте </span>
                </div>
              </div>
              <div class="popup-address d-flex align-items-baseline">
                <div class="popup-address-img">
                  <span></span>
                </div>
                <div class="popup-address-info d-flex flex-wrap">
                  <b>Склад </b>г.Орел, ул. Московское
                  шоссе д. 173&nbsp; <span  class="btn p-0">показать на карте </span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div>
          <hr>
          <h6>Ростов-на-Дону</h6>
          <div class="popup-address-list d-flex flex-column">
            <div>
              <div class="popup-address d-flex align-items-baseline">
                <div class="popup-address-img">
                  <span></span>
                </div>
                <div class="popup-address-info d-flex flex-wrap">
                  <b>Центральный офис: </b>г.Орел, ул. Московское
                  шоссе д. 173&nbsp; <span class="btn p-0">показать на карте </span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade custom-modal" id="data-send"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="img/close.png" alt="">
      </button>
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">
          <b>Данные</b> отправлены оператору
        </h5>
      </div>
      <p class="m-0">
        Наш менеджер свяжется с Вами в ближайшее время.
      </p>
    </div>
  </div>
</div>


<div class="drop-window tooltip drop-down-menu-cart" data-name="tooltip-header-cart">
  <div class="drop-menu-products-list">
    <div class="product d-flex">
      <button
        data-toggle="modal"
        data-target="#delete-product"
        class="btn product-delete">
        <img src="img/close.png" alt="Удалить товар">
      </button>

      <div class="product-img">
        <img src="img/pr.png" alt="">
      </div>
      <div class="product-info">
        <a href="/" class="product-name">
          <b>SM </b>3.50-6 2PR
          38A S-379 TL
        </a>
        <div class="old-price">
          <strike>7978 ₽</strike>
        </div>
        <div class="d-flex justify-content-between w-100">
          <div class="cart-product-total-price d-flex align-items-center">
            <span class="price">10 200</span><span class="rub">₽</span>
          </div>
          <div class="product-count">
            <button class="btn dec">-</button>
            <div class="form-group">
              <input class="form-control text-center p-0" type="text" value="10">
            </div>
            <button class="btn inc">+</button>
          </div>

        </div>

      </div>
    </div>
    <div class="product d-flex">
      <button
        data-toggle="modal"
        data-target="#delete-product"
        class="btn product-delete">
        <img src="img/close.png" alt="Удалить товар">
      </button>

      <div class="product-img">
        <img src="img/pr.png" alt="">
      </div>
      <div class="product-info">
        <a href="/" class="product-name">
          <b>SM </b>3.50-6 2PR
          38A S-379 TL
        </a>
        <div class="old-price">
          <strike>7978 ₽</strike>
        </div>
        <div class="d-flex justify-content-between w-100">
          <div class="cart-product-total-price d-flex align-items-center">
            <span class="price">10 200</span><span class="rub">₽</span>
          </div>
          <div class="product-count">
            <button class="btn dec">-</button>
            <div class="form-group">
              <input class="form-control text-center p-0" type="text" value="10">
            </div>
            <button class="btn inc">+</button>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="product-bottom-info flex-wrap d-flex justify-content-between align-items-center">
    <div class="product-all-price d-flex align-items-center">
      <span class="total">Всего</span>
      <div class="cart-product-total-price d-flex align-items-center">
        <span class="price">10 200</span><span class="rub">₽</span>
      </div>
    </div>
    <a href="/" class="btn btn-blue btn-skew">
      <span>В корзину</span>
    </a>
  </div>
</div>

<div id="tooltip" data-name="tooltip-search" class="tooltip tooltip-search">
  <div class="search-area d-flex">
    <form action="" class="d-flex w-100 position-relative flex-column">
      <div class="form-group custom-form-group m-0 position-relative">
        <input class="form-control w-100 dropdown-list "
               id="title-search-input" type="text" value=""
               placeholder="Поиск"
               size="40" maxlength="50" autocomplete="off">
        <div class="search-btn">
          <i class="fa fa-search"></i>
        </div>

        <!--                            <ul class="dropdown-menu fade w-100" style="opacity: 1; display: block">-->
        <!--                              <li class="dropdown-item"><a href="index-12.html">RT266</a></li>-->
        <!--                              <li class="dropdown-item"><a href="index-12.html">RT266</a></li>-->
        <!--                            </ul>-->
      </div>

    </form>
  </div>
</div>

<!--заказать звонок-->
<div class="drop-window tooltip drop-down-order-call"
     data-name="tooltip-order-call">
  <button
          class="btn close-window product-delete">
    <img src="img/close.png" alt="Закрыть">
  </button>
  <h3>Заказать звонок</h3>
  <p>
    Оставьте контактные данные
    и менеджер перезвонит Вам
    в ближайшее время.
  </p>
  <div class="form-group custom-form-group  position-relative">
    <input class="form-control w-100 dropdown-list "
           type="text" value="" placeholder="Ваше имя">
  </div>
  <div class="form-group custom-form-group  position-relative">
    <input class="form-control w-100 dropdown-list error"
           type="text" value="" placeholder="+7(">
    <div class="error d-flex align-items-center"><img src="img/error.svg" alt="">Введите номер телефона</div>
  </div>
  <div class="agreem d-flex">
    <div class="chiller_cb">
      <label for="3">
        Я согласен с условиями передачи данных <a href="">Соглашение.</a>
      </label>
      <input type="checkbox" id="3">
      <span></span>
    </div>
  </div>
  <div class="buttons-area">
    <button class="btn btn-blue order-send">Отправить</button>
  </div>
</div>
