@import "vars"

.buttons-area
  display: flex
  align-items: center

.btn
  font: 1rem/130% 'OpenSans'
  display: flex
  align-items: center
  justify-content: center
  padding: 0.1875rem 0.625rem
  border: 0.3125rem

.btn-blue
  background-color: $color4
  color: $white
  &:hover, &:active, &:focus
    background-color: $color8
    color: $white

.btn-skew
  transform: skewX(-15deg)
  span
    transform: skewX(15deg)

.btn-tag
  display: inline-block
  border: 0.0625rem solid $color3
  padding: 0.125rem 0.625rem
  background: $white
  color: $color5
  font: 400 0.9375rem/1.2rem 'OpenSans'
  &.active
    font: bold 0.9375rem/1.2rem 'OpenSans-Bold'

.btn-white
  background-color: $white
  color: #272727
  &:hover, &:active, &:focus
    background-color: $color8
    color: $white

.btn:focus, .btn.focus
  box-shadow: none

.btn-dashed
  padding: 0
  border-radius: 0
  border-bottom: 1px dashed
  &.active
    color: #076CB5

.btn-red
  background-color: $color2
  color: $white
  &:hover, &:active, &:focus
    background-color: #DA0A16
    color: #F6F6F8
