@import "vars"
.catalog-product-area
  margin: 0.5625rem 0 0 0
  .product-card-area
    margin: 0 0 2.125rem 0

.container-filter
  position: relative
  padding-right: 2.5rem

.filter
  //margin: 0 0 3.438rem 0
  hr
    margin: 1.5625rem 0
  h4
    font: 1.063rem/1.375rem 'SFProDisplay-Regular', sans-serif
  //margin: 0 0 1.9375rem 0
  .chiller_cb + .chiller_cb
    margin-top: 1rem
  .chiller_cb
    margin-left: 0.0625rem

.filter-title-block
  margin: 0 0 1.5625rem 0
  h4
    color: #364352
    font: 400 1.125rem/130% 'OpenSans'

.filter-reset
  padding: 0
  margin: 0 0 0 0.625rem
  color: #6B6F7B
  font: 400 0.9375rem/1.25rem 'OpenSans'
  border-bottom: 1px dashed #6B6F7B

.filter-checkboxes

.filter-type-price-area
  margin: 0 0 1.5625rem 0

.filter-type-price + .filter-type-price
  margin: 0 0 0 0.563rem

.filter-type-price
  border: 0.0625rem solid #8C8C8C
  border-radius: 0.1875rem
  width: 5rem
  height: 2.125rem
  input
    height: auto
    width: 100%
    border: none
    padding: 0.1rem
    text-align: center
    font: 0.938rem/130% 'SFProDisplay-Medium', sans-serif
  .units
    font: 0.938rem/130% 'SFProDisplay-Ligth', sans-serif
    flex: 0 0 1.875rem
    border-left: 0.0625rem solid $color4
    padding: 0 0.1rem
    text-transform: uppercase

.filter-search-area
  border-radius: 0.3125rem
  z-index: 10
  left: 100%
  position: absolute
  background: #FFFFFF
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.25)
  &:before
    content: ""
    position: absolute
    top: calc(50% - 0.3125rem)
    left: 0px
    background: #FFFFFF
    margin-left: -0.3125rem
    width: 0.625rem
    height: 0.625rem
    box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25)
    z-index: -1
    transform: rotate(45deg)

.filter-search
  min-width: 11.25rem
  border-radius: 0.3125rem
  background-color: #ffffff
  padding: 1rem 1rem 0.688rem 1rem
  .btn
    width: 100%
    border-radius: 0.3125rem

.filter-search p
  font: 400 0.9375rem/130% 'OpenSans'
  margin: 0 0 0.75rem 0

.filter-range-area
  padding: 0 0.438rem

.filter-btn
  margin-bottom: 0.4375rem
  min-width: 11.25rem
  border-radius: 0.3125rem
  font: 1.125rem/130% 'OpenSans'
  min-height: 2.1875rem
  &.reset span
    border-bottom: 1px dashed

.title-f
  font: bold 1.5rem/130% 'OpenSans-Bold'
  margin: 0 0 1.6875rem 0



@media (max-width: 992px)
  .filter-search-area
    left: 50%


