@import "vars"

.chiller_cb
  position: relative
  display: flex
  align-items: center
  min-height: 1.25rem

.chiller_cb input
  display: none

.chiller_cb input:checked ~ span
  background: $color4
  border-color:  $color4

.chiller_cb input:checked ~ span:before
  content: ''
  background-image: url("../img/check.png")
  width: 0.6875rem
  height: 0.5625rem
  transition: width 0.1s
  transition-delay: 0.3s
  border-color: red

.chiller_cb input:disabled ~ span
  background: $white
  border-color: $color6

.chiller_cb input:disabled ~ label
  font: 300 0.938rem/130% 'SFProDisplay-Ligth', sans-serif

.chiller_cb input:disabled ~ label:hover
  cursor: default

.chiller_cb label
  user-select: none
  padding-left: 1.45rem
  position: relative
  height: 100%
  z-index: 2
  cursor: pointer
  margin-bottom: 0
  font: 300 0.938rem/130% 'SFProDisplay-Ligth', sans-serif

.chiller_cb span
  display: flex
  align-items: center
  justify-content: center
  width: 0.9375rem
  height: 0.9375rem
  border: 0.0625rem solid $color6
  position: absolute
  left: 0
  transition: all 0.2s
  z-index: 1
  box-sizing: content-box
  border-radius: 0.1875rem


.red-label
  color: $color2
