@import "vars"
html
  height: 100%
  color: #000000

body
  min-height: 100%

body
  overflow-x: hidden
  font-size: 16px
  line-height: 18px
  background-color: #ffffff
  font-family: 'PT Sans', sans-serif

body, a
  color: #272727

p
  margin: 1rem 0

b
  font-family: 'OpenSans-Bold', sans-serif

a, a:hover, a:active, a:focus
  color: inherit
  text-decoration-line: inherit
  outline: none
//box-shadow: none!important
::-webkit-scrollbar
  width: 0.3125rem

::-webkit-scrollbar-track
  box-shadow: inset 0 0 0.0625rem rgba(0, 0, 0, 0.1)

::-webkit-scrollbar-thumb
  background-color: darkgrey
//outline: 0.0625rem solid slategrey

.container-page
  padding: 3.125rem 0 4.375rem 0

.form-control:focus
  border-color: inherit
  box-shadow: none

img
  max-width: 100%

textarea
  resize: none

.m-05
  margin: 0.5rem 0 !important

.pb-70
  padding-bottom: 4.375rem !important

.form-control:disabled, .form-control[readonly]
//background-color: $white

.dropdown-list
  position: relative
  .input-icon
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    height: 100%
    width: 1.875rem
    top: 0
    right: 0

.custom-form-group
  position: relative
  label
    text-transform: uppercase
    font: 600 0.8125rem/1.625rem 'OpenSans-Semibold'
    color: $color5
    margin: 0 0 0.1875rem 0

.title-block-area
  display: flex
  align-items: baseline
  flex-wrap: wrap
  margin: 0 0 2.5rem 0
  letter-spacing: -0.075rem
  h1
    //letter-spacing: -0.0625rem
    font: 300 2.25rem/2.875rem 'Open Sans Light'
    margin-right: 1.125rem
  b
    font: 700 2.25rem/2.875rem 'OpenSans-Bold'
  .btn
    //padding: 0.3125rem 0
    padding: 0
    color: $color4
    font: italic 1.125rem/130% 'OpenSans-Italic'

.search-area
  align-items: baseline
  .form-group
    flex: 1 1 auto
  input
    padding-right: 2rem

.form-control
  border-color: $color10
  height: 2.5rem
.form-control.error,
.form-control.error::placeholder
  border-color: $color2
  color: $color2

.dropdown-menu
  border-color: $color10

.search-btn
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: 1.875rem
  .fa
    color: $color10

.error
  word-break: break-all
  color: $color2
  padding: 0.3125rem
  img
    margin-right: 0.3125rem

.slick-dots li
  margin: 0

.slick-dots li button:before
  color: #C4C4C4

.slick-dots li.slick-active button:before
  color: #C4C4C4
  transform: scale(1.1)

.tag-list
  margin: 1.8rem 0
  .btn:not(:last-child)
    margin-top: 0.3125rem
    margin-bottom: 0.3125rem
    margin-right: 0.625rem

.slick-dots
  bottom: -3.4375rem

#tooltip, .tooltip
  z-index: 100

#tooltip, .tooltip
  display: none

#tooltip[data-show], .tooltip[data-show]
  display: block
  opacity: 1

.tooltip-search
  .search-area
    //max-width: 26.25rem
    width: 26.25rem
  .form-control
    border-color: #D8D8D8

.img-wrap
  position: relative
  z-index: 5
  img
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

.img-contain
  object-fit: contain !important

.product-count
  width: 5.75rem
  height: 1.6875rem
  margin: 0 0.75rem
  display: flex
  align-items: center
  border: 1px solid $color3
  border-radius: 0.3125rem
  overflow: hidden
  background-color: white
  z-index: 10
  .dec
    border-right: 0.0625rem solid $color3
  .inc
    border-left: 0.0625rem solid $color3
  .btn
    background-color: $white
    border-radius: 0
    display: flex
    align-items: center
    justify-content: center
  & *
    font: 600 1.125rem/1.5625rem 'Open Sans Semibold'
    margin: 0
    flex: 1 1 33.33%
    height: 100%
  .form-control
    border: none

.title-block-mini-area
  font: bold 1.75rem/2.375rem 'OpenSans-Bold'
  margin: 0 0 1.4375rem 0

.del-all
  color: #6D6F7C
  margin-left: 1.25rem

.ui-slider-horizontal
  .ui-slider-range
    background-color: $color4
  .ui-slider-handle:focus,
  .ui-slider-handle:active
    outline: none
  .ui-slider-handle
    top: -0.5625rem
    cursor: pointer
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    width: 1.25rem
    height: 1.25rem
    background-color: transparent
    &:before
      content: ''
      position: absolute
      border-radius: 50%
      background-color: $color4
      width: 0.625rem
      height: 0.625rem

.ui-widget.ui-widget-content
  border: none
  height: 0.0625rem
  background-color: #8C8C8C

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
  border: none

.line-filter
  font: 0.9375rem/1.225rem 'OpenSans'
  color: #6D6F7C
  margin: 0.3125rem
  .btn
    font: 0.9375rem/1.225rem 'OpenSans'
    color: #6D6F7C
    margin-left: 0.625rem

.style-card.active
  path
    fill: #6D6F7C

.count-see
  padding: 0 0.125rem
  overflow: hidden
  font: 0.9375rem/0.9375rem 'OpenSans'
  color: #60656E
  .active
    color: $color2
  span
    cursor: pointer
  span + span
    border-left: 1px solid #60656E
    margin-left: 0.375rem
    padding-left: 0.375rem

.load-area
  position: fixed
  width: 100%
  height: 100%
  background-color: white
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  z-index: 1000
@media (max-width: 992px)
  .container-filter
    padding-right: 0 !important
  .title-count-product
    margin: 0.3125rem 0

@media (max-width: 576px)
  body, html
    font-size: 14px
    line-height: 16px
  .title-block-area
    flex-direction: column
    h1, b
      line-height: 2rem
      margin-right: 0

//font-size: 1.5rem
//line-height: 2.05rem

