@import "vars"

.custom-modal
  .modal-header, .modal-footer, .modal-title, .modal-body
    border: none
    padding: 0
  .close
    position: absolute
    top: 0.9375rem
    right: 0.9375rem
    z-index: 1
//.buttons-area
//  .btn
//    margin-top: 1.4375rem
//    border-radius: 0.3125rem
//    padding-right: 1.75rem
//    padding-left: 1.75rem

.modal
  top: 6.25rem
.modal-title
  font: 1.5rem/1.6rem 'OpenSans'
  margin: 0 0 1.75rem 0

.modal-text
  font: 0.9375rem/1.125rem 'SFProDisplay-Medium', sans-serif

.modal
  .buttons-area
    .btn
      font: 1rem/1.2rem 'OpenSans'
      text-transform: uppercase
      min-width: 6.25rem
      min-height: 2.1875rem
  .popup-contact-map-address
    padding: 0

.modal-content
  padding: 2.5rem 1.875rem 2.5rem 1.25rem

#delete-product
  .modal-title
    margin: 0 0 1.25rem 0
  .btn
    margin: 0 0.625rem

#modal-contact-map
  height: 36.875rem
  .modal-title
    margin: 0 0 1.25rem 0
  .popup-address
    margin: 0.3125rem 0
  .popup-address-list
    min-height: auto
    overflow: inherit
    max-height: inherit
    padding-right: 0
.modal-map
  display: none
  height: 14.6875rem
  width: 100%
  margin: 0.5rem 0

.popup-address-info
  a
  //margin-left: 0.3125rem
  b
    margin-right: 0.3125rem

.drop-down-order-call
  padding: 0.625rem 1.25rem 1.5rem 1.25rem
  max-width: 15.875rem
  width: 100%
  h3
    font: 1.3125rem/1.8125rem "OpenSans"
    margin: 0 0 0.5rem 0
  p
    font: 0.8125rem/1.0625rem "PTSans-Regular"
    margin: 0 0 1.0625rem 0
  .form-control
    height: 1.5rem
  .form-group
    margin: 0 0 1.0625rem 0
  .close-window
    top: 1.25rem
    right: 1.25rem
    width: 0.875rem
    height: 0.875rem
  .agreem
    margin: 0 0 1.1875rem 0
  .agreem .chiller_cb label
      font: 0.8125rem/1rem 'OpenSans'
  .order-send
    min-height: 2.125rem
    min-width: 7.5rem
    font: 1rem/1.375rem 'OpenSans'

@media (max-width: 425px)
  .modal-dialog .modal-content
    padding-left: 1rem
    padding-right: 1rem
