@import "vars"
.content-area
  padding-bottom: 5rem

.bg-gray
  background-color: $color9

.user-agreement-area
  p
    color: $color1
    font: 400 1.125rem/1.5625rem 'OpenSans'
    strong
      font: bold 1.125rem/1.5625rem 'OpenSans-Bold'
  h2
    margin: 1.2rem 0
    color: $color1
    font: bold 1.5rem/2.0625rem 'OpenSans-Bold'

.error-page-area
  position: relative
  min-height: 41.875rem
  .error-page-img
    z-index: 1
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    top: 0
    left: 0
    object-position: center
  .container
    padding-top: 3.375rem
    z-index: 5
    position: relative
  .logo
    margin: 0 0 5.375rem 0
  .btn-skew
    padding: 0.625rem 4.375rem
    font: 400 0.9375rem/1.25rem "Open Sans"
  h3
    color: $color7
    font: bold 1.625rem/1.625rem 'OpenSans-Bold'
  h1
    color: $color7
    font: bold 10.625rem/13.5rem 'OpenSans-Bold'
  p
    margin: 1rem 0 2.8125rem 0
    color: $color7
    font: 400 1.25rem/1.625rem 'OpenSans'

.search-no-result
  margin: 1.125rem 0 1.875rem 0
  font: 400 1.125rem/1.5625rem 'OpenSans'

.search-page-area
  .search-area
    max-width: 58.75rem
    width: 100%
    margin: 0 0 2.8125rem 0

.search-title
  h1, b
    letter-spacing: 0
    font: 600 1.625rem/2.1875rem 'OpenSans'
  a
    color: $color4
    font: italic 1.125rem/2.1875rem 'OpenSans-Italic'

.contact-page-info
  font: 400 1.3125rem/1.625rem 'OpenSans'

.about-company-page-area
  padding-bottom: 5.875rem

.about-company-page-info
  font: 400 1.0625rem/1.625rem 'OpenSans'
  margin: 0
  span
    color: $color4
    font: 400 1.5rem/1.825rem 'OpenSans'
  a
    color: $color7
    text-decoration-line: underline

.contact-page-area
  hr
    margin: 1.75rem 0

.contact-region
  margin: 0 0 1.5625rem 0
  .flag
    margin: 0 1.25rem 0 0
  span
    font: bold 1.5rem/2.0625rem 'OpenSans-Bold'
.contact-item-area
  margin: 0 0 1.875rem 0
  li
    margin: 0.9375rem 0
    .contact-text
      white-space: nowrap
      font: 400 0.9375rem/ 1.25rem 'OpenSans'
      color: #222222
    img, svg
      margin: 0 0.5rem 0 0
  h3
    padding: 0 2.3125rem 0 0
    margin: 0 0 0.75rem 0
    color: $color7
    font: bold 1.3125rem/1.8125rem 'OpenSans-Bold'

.line-type
  margin: 0
  li:last-child
    margin: 0
  li
    display: flex
    align-items: center
    margin: .9375rem 1.25rem .9375rem 0
  li > *
    display: flex
    align-items: center

.contact-page-info
  font: 400 0.9375rem/130% "OpenSans"

.map-area
  margin: 1.75rem 0 0 0

.contact-map-area
  position: relative
  min-height: 27rem

.contact-map
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  //object-fit: cover
  z-index: 10

.point-area
  z-index: 20
  position: absolute
  cursor: pointer
  transition: $transition
  &:hover
    transform: scale(1.1)

.position-1
  top: 44%
  left: 6%
.position-2
  top: 38%
  left: 12%
.position-3
  top: 28%
  left: 19%
.position-4
  top: 25%
  left: 22%
.position-5
  top: 14%
  left: 20%
.position-6
  top: 62%
  left: 45%
.position-7
  top: 30%
  left: 1%
.position-8
  top: 5%
  left: 54%
.point-city
  text-transform: uppercase
  color: #272727
  font: 0.6875rem/130% 'OpenSans-Italic'

.map-name-region
  z-index: 20
  position: absolute
  font: 1.5rem/130% 'OpenSans'
  color: #076CB5

.popup-contact-map-address

  padding: 1.25rem 0.625rem 1.25rem 1.25rem
  h6
    font: 1.3125rem/130% 'OpenSans-Semibold'
    margin: 0 0 0.5rem 0

.popup-address-img
  //margin: 0 0.4375rem 0 0
  flex: 0 0 1.25rem
  span
    display: block
    width: 0.8125rem
    height: 0.5rem
    background: #076CB5
    border-radius: 0.3125rem
.popup-address-info
  font: 0.9375rem/1.1875rem 'PTSans-Regular'
  b
    font-family: PTSans-Bold, sans-serif
  .btn
    text-decoration-line: underline
    color: $color2
    font: 0.9375rem/1.1875rem 'PTSans-Regular'

.popup-address-list
  max-height: 6.25rem
  padding-right: 0.625rem
  overflow: auto
  hr:last-child
    display: none
  hr
    margin: 0.625rem 0

.model-area

.model-img:hover
  box-shadow: 0px 0.625rem 0.9375rem rgba(0, 0, 0, 0.25)
.model-img
  height: 23.125rem
  padding: 1.875rem 2.5rem
  width: 18.125rem
  border-radius: 0.3125rem
  transition: $transition
  margin: 0 4.8125rem 0 0
  img
    width: 100%
    height: auto
    object-fit: cover
.add-cart-area
  flex: 0 0 20.9375rem
  margin: 1.5625rem 0 1.5625rem 6.25rem
  background: #fff
  border-radius: .3125rem
  border: 1px solid #d8d8d8
  padding: 1.25rem 1.125rem

.model-area
  padding: 0 1.875rem 0 0
.model
  h6
    text-decoration-line: underline
    font: 1.3125rem/1.6875rem 'OpenSans'
    margin: 0 0 2rem 0
  .cart-product-info
    margin: 0.4375rem 0

.logo-brand
  background-position: center
  background-repeat: no-repeat
  width: 10.3125rem
  height: 1.75rem
  object-fit: contain
  margin: 0.9375rem 0
.add-cart-area, .model
  .cart-product-desc
    width: auto
.model .col
  display: flex
  flex-direction: column
  justify-content: center
.add-cart-area
  height: min-content
  h6
    text-decoration-line: underline
    font: 1.3125rem/1.6875rem 'OpenSans'
    margin: 0 0 0.9375rem 0
  .cart-product-info
    margin: 0.9375rem 0
  .product-count
    margin: 0 0 0 0.3125rem
  .cart-product-total-price
    color: #e30613
    margin: 0
  .info-name
    .price, .rub
      font: 600 1.3125rem/1.625rem 'OpenSans-Semibold'
    .rub
      margin: 0 0 0 .3125rem
      color: #6d6f7c
      font-family: 'PT Sans', sans-serif
      font-weight: 400
  .buttons-area
    margin: 1.25rem 0 1rem 0
    padding: 0 3.125rem
    .btn
      max-width: 21.875rem
      width: 100%
      min-height: 2.25rem

@media (max-width: 1200px)
  .cart-area
    padding: 0 1.875rem 1.875rem 1.875rem
  .add-cart-area
    margin: 0
    flex: 1 1 100%
@media (max-width: 992px)
  .point-area
    transform: scale(0.8)
    transform-origin: left
  .contact-map-area
    min-height: 24rem
  .model-img
    margin: 0 0 0.625rem 0
  .col-model-img
    align-items: center
@media (max-width: 576px)
  .map-name-region, .point-area
    display: none !important
  .contact-map
    height: auto
    position: relative
  .contact-map-area
    min-height: auto
  .add-cart-area .buttons-area
    padding-right: 0
    padding-left: 0
