@import "vars"
.select-title
  margin: 0 0 0.313rem 0
  h3
    min-height: 3rem
    color: #000
    font: 1.25rem/1.5rem 'SFProDisplay-Regular', sans-serif

.select2-search--dropdown

.select2-container--default .select2-selection--single
  height: 2.5rem
  z-index: 2
  cursor: pointer
  position: relative
  padding: 0.2rem 1.875rem 0.2rem 0.688rem
  background: #FFFFFF
  border: 0.0375rem solid #8C8C8C
  border-radius: 0.313rem
  display: flex
  align-items: center
  box-shadow: none

.select2
  width: 100% !important

.select2-dropdown.select2-dropdown--below
  border-radius: 0.313rem

.select2-dropdown.select2-dropdown--below
  top: 0.3125rem

.select2-container--open .select2-dropdown--below
  border-top: 0.0375rem solid #8C8C8C

.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 100%

.select2-container--default .select2-search--dropdown .select2-search__field
  border: none

.select2-container--default .select2-search--dropdown .select2-search__field
  border-bottom: 1px solid #D6DFE6

.select2-search__field:focus,
.select2-search__field:active
  outline: none
  box-shadow: none

.select2-results
  padding: 0 0.625rem

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple
  border-radius: 0.313rem

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
  background-color: #f8f6f6
  color: $color1
.select2-container--default .select2-results__option--selected
  background-color: #f8f6f6
.select2-results__option
  border-bottom: 1px solid #D6DFE6

.select2-search--dropdown
  padding-right: 0
  padding-left: 0

.filter-select
  .select2-container--default .select2-selection--single
    height: 2.125rem
  .select2-container--default .select2-selection--single .select2-selection__rendered
    font-family: 'OpenSans', sans-serif
    padding: 0
  .select2-container--default .select2-selection--single .select2-selection__arrow
    width: 1.875rem
    border-left: 1px solid $color6
  .select2-container--default .select2-selection--single .select2-selection__arrow b
    border-color: #364352 transparent transparent transparent
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
    border-color: transparent transparent #364352 transparent

.select2-search
  position: relative
  input
    background-image: url("../img/search.png")
    background-repeat: no-repeat
    background-position: 94%
    background-size: 7%
