<footer>
  <div class="footer-area">
    <div class="container">
      <nav class="nav footer-nav d-xl-block d-lg-block d-none">
        <ul class=" d-flex justify-content-between w-100">
          <li>
            <a href="" class="footer-link">Шины</a>
          </li>
          <li>
            <a href="" class="footer-link">Модели</a>
          </li>
          <li>
            <a href="" class="footer-link">Производство</a>
          </li>
          <li>
            <a href="" class="footer-link">соглашение</a>
          </li>
          <li>
            <a href="" class="footer-link">контакты</a>
          </li>
          <li>
            <a href="" class="footer-link">Доставка и оплата</a>
          </li>
        </ul>
      </nav>
      <p class="text-center footer-of">
        Официальный дистрибьютор Petlas и Starmaxx в России
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="footer-block d-flex flex-column">
            <ul>
              <li>
                <span>
                  <img src="img/point.svg" alt="">
                  <span class="footer-block-text">Россия</span>
                </span>
              </li>
              <li>
                <a href="mailto:info@protektor57.ru">
                  <img src="img/mail.svg" alt="">
                  <span class="footer-block-text">info@protektor57.ru</span>
                </a>
              </li>
              <li>
                <a href="mailto:info@protektor57.ru">
                  <img src="img/mail.svg" alt="">
                  <span class="footer-block-text">info@protektor57.ru</span>
                </a>
              </li>
              <li>
                <a href="tel:84862488777">
                  <img src="img/phone.svg" alt="">
                  <span class="footer-block-text">8 4862 <b>488-777</b></span>
                </a>
              </li>
            </ul>
            <a class="footer-about" href="/">
              Политика конфиденциальности
            </a>
          </div>
        </div>
        <div class="col col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="footer-block d-flex flex-column align-items-center">
            <img src="img/logo.svg" alt="" class="footer-logo">
            <a href="tel:84862488660" class="footer-number">
              8 4862 <strong>488-660</strong>
            </a>
            <div class="buttons-area">
              <button class="btn btn-white btn-call"
                      id="order-call">заказать звонок</button>
            </div>
          </div>

        </div>
        <div class="col col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="footer-block d-flex flex-column align-items-xl-end align-items-lg-end align-items-md-start align-items-start ">
            <ul>
              <li>
                <span>
                  <img src="img/point.svg" alt="">
                  <span class="footer-block-text">Турция</span>
                </span>
              </li>
              <li>
                <a href="mailto:info@protektor57.ru">
                  <img src="img/mail.svg" alt="">
                  <span class="footer-block-text">manager@protektor57.ru</span>
                </a>
              </li>
              <li>
                <a href="mailto:info@protektor57.ru">
                  <img src="img/mail.svg" alt="">
                  <span class="footer-block-text">zap@protektor57.ru</span>
                </a>
              </li>
              <li>
                <a href="tel:903123093030">
                  <img src="img/phone.svg" alt="">
                  <span class="footer-block-text">90 312 <b>309 30 30</b></span>
                </a>
              </li>
            </ul>
            <div class="footer-about" href="/">
              Petlas/Starmaxx © 2021&nbsp;|&nbsp;Интернет - магазин Шин
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <div class="container">
      <p>
        2021 © магазин "Petlas/Starmaxx ©" — автомобильные шины (зимние и летние шины). Сайт носит исключительно
        информационный характер и никакая информация, опубликованная на нём, ни при каких условиях не является публичной
        офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. Информация,
        фотографии и характеристики товара могут отличаться от фактических параметров. Уточняйте информацию у менеджеров
        и внимательно проверяйте все характеристики при получении товара.
      </p>
    </div>
  </div>
</footer>
