@import "../../../sass/vars"
.footer-area
  padding: 1.875rem 0 4.875rem 0
  background-color: #1A2B3E

.footer-down
  background-color: $white
  p
    font: 400 0.6875rem/0.9375rem 'OpenSans'

.footer-link, .footer-of
  position: relative
  text-transform: uppercase
  font: 400 0.9375rem/1.25rem 'OpenSans'
  color: $white

.footer-of
  margin: 1.875rem 0

.footer-block
  li
    margin: 1.0625rem 0
    img, svg
      margin: 0 0.625rem 0 0
    a
      display: inline-block

.footer-logo
  margin: 1.75rem 0 2.4375rem 0

.btn-call
  text-transform: uppercase
  font: bold 0.8125rem/1.125rem "OpenSans-Bold"
  padding: 0.5625rem 2.1875rem

.footer-number,
.footer-number:hover, .footer-number:active,
.footer-number:focus
  margin: 0 0 2.0625rem 0
  color: #B0B6C6
  font: 400 1.75rem/2.375rem "OpenSans"
  strong
    color: #F6F6F8

.footer-link:hover,
.footer-link:active,
.footer-link:focus
  color: $white
  &:before
    width: 100%

.footer-link
  &:before
    content: ''
    position: absolute
    bottom: -0.4375rem
    width: 0
    height: 3px
    background-color: #076CB5
    left: 0
    transition: $transition

.footer-block-text
  font: 400 0.8125rem/1.125rem "OpenSans"
  color: #F6F6F8

.footer-about, .footer-about:hover, .footer-about:active,
.footer-about:focus
  margin: 2.5rem 0 0 0
  color: #D8D8D8
  font: 400 0.8125rem/1.125rem "OpenSans"
