<section class="nav-line-area">
  <div class="container">
    <ul class="nav-line nav justify-content-center">
      <li >
        <a href="">Доставка и оплата</a>
      </li>
      <li>
        <a href="">Технология производства</a>
      </li>
      <li  data-name="order-call">
        <a href="#">Заказать звонок</a>
      </li>
    </ul>
  </div>
</section>
