@import "../../../sass/vars"

.nav-line-area
  padding: 1.675rem 0

.nav-line
  li
    margin: 0 2.625rem
  a
    white-space: nowrap
    font: 400 0.875rem/180% 'OpenSans'
    &:hover
      color: $color6
