<div class="container-page" data-aos="fade-up" data-aos-delay="200">
  <div class="container">
    <div class="title-block-area">
      <h1>
        <b>Популярные</b>&nbsp;товары
      </h1>
      <a href="/" class="btn">
        Смотреть все
      </a>
    </div>
  </div>
  <div class="container p-0">
    <div class="slider-card-area">
      <div class="card-product">
        <div class="product-card-area">
          <div class="product-card">
            <a href="">

              <div class="product-card-image d-flex justify-content-center align-items-center">
                <img src="img/product.jpg" alt="">
              </div>
              <div class="product-card-info flex-column d-flex">
                <div class="product-card-title">
                  <h2><b>SM</b> 3.50-6 2PR 38AS-
                    379 TL</h2>
                </div>
                <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
                  <p class="info-name position-relative">Ширина машины</p>
                  <p class="info-prop position-relative">1,76 m</p>
                </div>
                <div class="product-price-count d-flex justify-content-between flex-wrap">
                  <div class="cart-product-total-price d-flex align-items-center">
                    <span class="price">10 200</span><span class="rub">₽</span><span class="count">(шт)</span>
                  </div>
                  <div class="product-count">
                    <button class="btn dec">-</button>
                    <div class="form-group">
                      <input class="form-control text-center p-0" type="text" value="10">
                    </div>
                    <button class="btn inc">+</button>
                  </div>
                </div>
                <div class="product-card-bottom d-flex justify-content-between align-items-center">
                  <div class="old-price">
                    <strike>15 600</strike>
                  </div>
                  <div class="total-price">
                    <span class="total-price-t">Сумма:</span>
                    <span class="price">15 600 </span>
                    <span class="total-price-t">₽</span>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <div class="d-flex">
            <button class="btn btn-blue text-center w-100">
              Добавить в корзину
            </button>
          </div>
        </div>

      </div>
      <div class="card-product">
        <div class="product-card-area">
          <div class="product-card">
            <a href="">

              <div class="product-card-image d-flex justify-content-center align-items-center">
                <img src="img/product.jpg" alt="">
              </div>
              <div class="product-card-info flex-column d-flex">
                <div class="product-card-title">
                  <h2><b>SM</b> 3.50-6 2PR 38AS-
                    379 TL</h2>
                </div>
                <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
                  <p class="info-name position-relative">Ширина машины</p>
                  <p class="info-prop position-relative">1,76 m</p>
                </div>
                <div class="product-price-count d-flex justify-content-between flex-wrap">
                  <div class="cart-product-total-price d-flex align-items-center">
                    <span class="price">10 200</span><span class="rub">₽</span><span class="count">(шт)</span>
                  </div>
                  <div class="product-count">
                    <button class="btn dec">-</button>
                    <div class="form-group">
                      <input class="form-control text-center p-0" type="text" value="10">
                    </div>
                    <button class="btn inc">+</button>
                  </div>
                </div>
                <div class="product-card-bottom d-flex justify-content-between align-items-center">
                  <div class="old-price">
                    <strike>15 600</strike>
                  </div>
                  <div class="total-price">
                    <span class="total-price-t">Сумма:</span>
                    <span class="price">15 600 </span>
                    <span class="total-price-t">₽</span>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <div class="d-flex">
            <button class="btn btn-blue text-center w-100">
              Добавить в корзину
            </button>
          </div>
        </div>
      </div>
      <div class="card-product">
        <div class="product-card-area">
          <div class="product-card">
            <a href="">

              <div class="product-card-image d-flex justify-content-center align-items-center">
                <img src="img/product.jpg" alt="">
              </div>
              <div class="product-card-info flex-column d-flex">
                <div class="product-card-title">
                  <h2><b>SM</b> 3.50-6 2PR 38AS-
                    379 TL</h2>
                </div>
                <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
                  <p class="info-name position-relative">Ширина машины</p>
                  <p class="info-prop position-relative">1,76 m</p>
                </div>
                <div class="product-price-count d-flex justify-content-between flex-wrap">
                  <div class="cart-product-total-price d-flex align-items-center">
                    <span class="price">10 200</span><span class="rub">₽</span><span class="count">(шт)</span>
                  </div>
                  <div class="product-count">
                    <button class="btn dec">-</button>
                    <div class="form-group">
                      <input class="form-control text-center p-0" type="text" value="10">
                    </div>
                    <button class="btn inc">+</button>
                  </div>
                </div>
                <div class="product-card-bottom d-flex justify-content-between align-items-center">
                  <div class="old-price">
                    <strike>15 600</strike>
                  </div>
                  <div class="total-price">
                    <span class="total-price-t">Сумма:</span>
                    <span class="price">15 600 </span>
                    <span class="total-price-t">₽</span>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <div class="d-flex">
            <button class="btn btn-blue text-center w-100">
              Добавить в корзину
            </button>
          </div>
        </div>
      </div>
      <div class="card-product">
        <div class="product-card-area">
          <div class="product-card">
            <a href="">

              <div class="product-card-image d-flex justify-content-center align-items-center">
                <img src="img/product.jpg" alt="">
              </div>
              <div class="product-card-info flex-column d-flex">
                <div class="product-card-title">
                  <h2><b>SM</b> 3.50-6 2PR 38AS-
                    379 TL</h2>
                </div>
                <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
                  <p class="info-name position-relative">Ширина машины</p>
                  <p class="info-prop position-relative">1,76 m</p>
                </div>
                <div class="product-price-count d-flex justify-content-between flex-wrap">
                  <div class="cart-product-total-price d-flex align-items-center">
                    <span class="price">10 200</span><span class="rub">₽</span><span class="count">(шт)</span>
                  </div>
                  <div class="product-count">
                    <button class="btn dec">-</button>
                    <div class="form-group">
                      <input class="form-control text-center p-0" type="text" value="10">
                    </div>
                    <button class="btn inc">+</button>
                  </div>
                </div>
                <div class="product-card-bottom d-flex justify-content-between align-items-center">
                  <div class="old-price">
                    <strike>15 600</strike>
                  </div>
                  <div class="total-price">
                    <span class="total-price-t">Сумма:</span>
                    <span class="price">15 600 </span>
                    <span class="total-price-t">₽</span>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <div class="d-flex">
            <button class="btn btn-blue text-center w-100">
              Добавить в корзину
            </button>
          </div>
        </div>
      </div>
      <div class="card-product">
        <div class="product-card-area">
          <div class="product-card">
            <a href="">

              <div class="product-card-image d-flex justify-content-center align-items-center">
                <img src="img/product.jpg" alt="">
              </div>
              <div class="product-card-info flex-column d-flex">
                <div class="product-card-title">
                  <h2><b>SM</b> 3.50-6 2PR 38AS-
                    379 TL</h2>
                </div>
                <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
                  <p class="info-name position-relative">Ширина машины</p>
                  <p class="info-prop position-relative">1,76 m</p>
                </div>
                <div class="product-price-count d-flex justify-content-between flex-wrap">
                  <div class="cart-product-total-price d-flex align-items-center">
                    <span class="price">10 200</span><span class="rub">₽</span><span class="count">(шт)</span>
                  </div>
                  <div class="product-count">
                    <button class="btn dec">-</button>
                    <div class="form-group">
                      <input class="form-control text-center p-0" type="text" value="10">
                    </div>
                    <button class="btn inc">+</button>
                  </div>
                </div>
                <div class="product-card-bottom d-flex justify-content-between align-items-center">
                  <div class="old-price">
                    <strike>15 600</strike>
                  </div>
                  <div class="total-price">
                    <span class="total-price-t">Сумма:</span>
                    <span class="price">15 600 </span>
                    <span class="total-price-t">₽</span>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <div class="d-flex">
            <button class="btn btn-blue text-center w-100">
              Добавить в корзину
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


