@import "../../../sass/vars"
.card-product
  width: 255px
  //min-height: 400px
  border-radius: 0.3125rem
  background-color: $white
  margin: 0 0.9375rem

.slider-card-area, .tech-slider
  .btn-slider-next
    right: -1.8rem
  .btn-slider-prev
    left: -1.8rem

@media (max-width: 576px)
  .slider-card-area,.tech-slider
    .btn-slider-next
      right: -0.3125rem
    .btn-slider-prev
      left: -0.3125rem
