@import "../../../sass/vars"
.cart-area
  background-color: $white
  border-radius: 0.3125rem
  margin-bottom: 2.5rem

.cart-products-area
  padding: 1.0625rem 1.875rem 1.875rem 1.25rem

.delivery-product-area
  padding: 1.25rem
  h5
    margin: 0 0 0.625rem 0
    font: 400 1.3125rem/1.8125rem 'OpenSans'
    color: $color7
  b
    font-family: 'OpenSans-Bold', sans-serif
    font-weight: bold
  .row
    margin-left: -0.3125rem
    margin-right: -0.3125rem
  .col
    padding: 0 0.3125rem
  .form-group, input
    border-color: $color3

.cart-header
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1)
  padding: 0 0 0.5rem 0
  margin: 0 0 0.875rem 0

.cart-header
  .chiller_cb label
    padding-left: 3.125rem

.cart-product:last-child
  border: none

.cart-product-list
  width: 100%
//flex: 0 1 49.375rem
.cart-product
  padding: 1.25rem 0
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1)
  .col
    display: flex
    flex-direction: column
    justify-content: center

.col-checkbox
  flex: 0 0 2.5rem

.col-cart-img
  margin: 0 1.875rem 0 0
  flex-grow: 0

.cart-product-img
  max-width: 9.1875rem
  flex: 0 0 9.1875rem
  width: 100%
  height: 9.375rem
  overflow: hidden
  border-radius: 0.3125rem
  box-shadow: 0px 0.625rem 0.9375rem rgba(0, 0, 0, 0.25)
  background-color: $white
  img
    padding: 0.8125rem 1.875rem
    max-width: inherit

.cart-product-name
  font-size: 1.3125rem
  font-family: "Open Sans Light", sans-serif
  line-height: 130%
  margin: 0 0 2.1875rem 0
  display: block

.cart-product-desc
  width: 16.875rem

.info-name
  z-index: 10
  max-width: 60%
  padding: 0.25rem 0
  margin: 0
  background-color: $white

.cart-product-info:before
  content: ""
  position: absolute
  width: 100%
  top: 50%
  border-bottom: .0625rem dashed rgba(0, 0, 0, .1)

.cart-product-total-price
  margin: 0 3.125rem
  .price, .rub
    //white-space: nowrap
    font: 600 1.3125rem/1.625rem 'OpenSans-Semibold'
  .rub
    margin: 0 0 0 0.3125rem
    color: #6D6F7C
    font-family: 'PT Sans', sans-serif
    font-weight: 400
  .count
    margin: 0 0 0 0.3rem
    font: 0.8125rem/1.625rem 'OpenSans'

.cart-product-body
  .product-count
    margin-left: auto

.cart-pay-area
  position: sticky
  top: 0
  flex: 0 0 16.25rem
  margin: 0 0 0 1.25rem
  background: #FFFFFF
  border-radius: 0.3125rem
  border: 1px solid $color3
  padding: 1.25rem 1.125rem
  h6
    color: #272727
    font: 400 1.3125rem/130% 'OpenSans'
    text-decoration-line: underline
    margin: 0 0 0.5rem 0
  .cart-count
    color: #272727
    font: 400 1.125rem/130% 'OpenSans'
    margin: 0 0 1.25rem 0
  .methods-pay
    color: #364352
    font: bold 1.125rem/130% 'OpenSans-Bold'
    margin: 0 0 0.625rem 0
  .cart-product-total-price
    color: $color2
    margin: 0 0 1.25rem 0
  .buttons-area
    width: 100%
    .btn
      width: 100%
      height: 2.25rem

.pay-area
  width: 100%
  margin: 0 0 1.5625rem 0
  .btn
    padding: 0.125rem
    flex: 0 0 1.5625rem
    width: 1.5625rem
    height: 1.5625rem
    border: 0.125rem solid #858796
    border-radius: 0.3125rem
    position: relative
  .btn
    border: 0.125rem solid #858796
    path
      fill: #858796
  .pay
    margin: 0 0 8px 0
  //.btn.active
  //  border: 0.125rem solid $color4
  //  path
  //    fill: $color4
  .btn:hover
    .tooltip-pay
      display: block
  .tooltip-pay
    display: none
    border-radius: 0.625rem
    z-index: 100
    position: absolute
    top: calc(100% + 1rem)
    white-space: nowrap
    font: 400 0.9375rem/130% 'OpenSans'

.pay
  .chiller_cb label
    display: flex
    align-items: center
    color: #6D6F7C
    font: 400 0.875rem/130% 'Open Sans'
    .btn
      margin: 0 0.625rem
  input:checked ~ label
    color: #010202
    path
      fill: $color4
    .btn
      border: 0.125rem solid $color4

.tooltip-pay
  background-color: $white
  padding: 0.875rem 0.875rem 0.875rem 0.875rem
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)

.agreem
  font: 400 0.9375rem/1.1875rem 'PTSans-Regular'
  a
    color: $color4
    text-decoration-line: underline
  .chiller_cb
    label
      font: 400 0.9375rem/1.1875rem 'PTSans-Regular'
      padding-left: 0
      padding-right: 1.2rem
    span
      left: auto
      right: 0

.delivery-sub
  margin: 0
  color: #6D6F7C
  font: italic 0.75rem/1rem 'OpenSans-Italic'
  a
    color: $color4
    font-weight: bold
    text-decoration-line: underline

.delivery-p
  font: 0.9375rem/1.3125rem 'OpenSans'

.buying
  padding: 0.625rem 2.75rem
  text-transform: uppercase
  font-family: 'OpenSans-Bold', sans-serif

.total-cart-price
  span
    color: #6D6F7C
    font: 1.125rem/1.625rem 'OpenSans-Semibold'
  .price
    color: #076CB5
    margin-left: 0.3125rem

.methods-delivery
  margin: 1.5625rem 0 0.625rem 0
  .chiller_cb:last-child
    margin-right: 0
  .chiller_cb
    margin-right: 1.875rem

.title-count-product
  color: #6D6F7C
  letter-spacing: 0
  font: 400 0.9375rem/130% 'OpenSans'

.empty
  .cart-header
    font-size: 1.125rem
    line-height: 1.6rem
    span
      color: $color4
  .cart-body
    padding: 2.5rem 0

.select-city
  .select2-search
    display: none

.select-city-choice
  .select2-container--default .select2-selection--single
    border-color: #d8d8d8

.company-delivery
  img
    height: 100%
    margin: 0.3125rem 0.9375rem

@media (max-width: 1200px)
  .cart-pay-area, .cart-product-list
    flex: 1 1 100%
    width: 100%
    margin: 0

@media (max-width: 991.99px)
  .cart-product
    .col-cart-img, .cart-product-name, .cart-product-total-price
      margin-left: 0
      margin-right: 0
      margin-bottom: 1.875rem !important
  .cart-product-name
    text-align: center
  .cart-product-desc
    width: 100%

  .cart-product-body .product-count
    margin: 0

