<div class="cart-area cart-products-area">

  <div class="cart-header d-flex align-items-center">
    <div class="chiller_cb red-label">
      <input type="checkbox" id="1">
      <label for="1">Выбрать все</label>
      <span></span>
    </div>
    <button class="btn del-all"> Удалить выбранное</button>
  </div>
  <div class="cart-body d-flex align-items-start flex-xl-row flex-column">
    <div class="cart-product-list">
      <div class="cart-product d-flex flex-lg-row flex-column">
        <div class="col col-checkbox p-0 align-items-xl-start align-items-center">
          <div class="chiller_cb red-label">
            <input type="checkbox" id="2">
            <label for="2"></label>
            <span></span>
          </div>
        </div>
        <div class="col col-cart-img p-0 align-items-lg-start align-items-center">
          <div class="cart-product-img d-flex justify-content-center align-items-center">
            <img src="img/pr.png" alt="">
          </div>
        </div>
        <div class="col p-0">
          <a href="" class="cart-product-name">Шина SM 3.50-6 2PR 38A S-379 TL</a>
          <div class="cart-product-body d-flex align-items-center flex-lg-row flex-column">
            <div class="cart-product-desc">
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Размер шины
                </p>
                <p class="info-name position-relative">
                  5,80 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Внешний диаметр
                </p>
                <p class="info-name position-relative">
                  0,81 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Бренд
                </p>
                <p class="info-name position-relative">
                  Starmaxx
                </p>
              </div>
            </div>
            <div class="cart-product-total-price d-flex align-items-center">
              <span class="price">10 200</span><span class="rub">₽</span>
            </div>
            <div class="product-count">
              <button class="btn dec">-</button>
              <div class="form-group">
                <input class="form-control text-center p-0" type="text" value="10">
              </div>
              <button class="btn inc">+</button>
            </div>
            `
          </div>

        </div>
      </div>
      <div class="cart-product d-flex flex-lg-row flex-column">
        <div class="col col-checkbox p-0 align-items-xl-start align-items-center">
          <div class="chiller_cb red-label">
            <input type="checkbox" id="2">
            <label for="2"></label>
            <span></span>
          </div>
        </div>
        <div class="col col-cart-img p-0 align-items-lg-start align-items-center">
          <div class="cart-product-img d-flex justify-content-center align-items-center">
            <img src="img/pr.png" alt="">
          </div>
        </div>
        <div class="col p-0">
          <a href="" class="cart-product-name">Шина SM 3.50-6 2PR 38A S-379 TL</a>
          <div class="cart-product-body d-flex align-items-center flex-lg-row flex-column">
            <div class="cart-product-desc">
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Размер шины
                </p>
                <p class="info-name position-relative">
                  5,80 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Внешний диаметр
                </p>
                <p class="info-name position-relative">
                  0,81 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Бренд
                </p>
                <p class="info-name position-relative">
                  Starmaxx
                </p>
              </div>
            </div>
            <div class="cart-product-total-price d-flex align-items-center">
              <span class="price">10 200</span><span class="rub">₽</span>
            </div>
            <div class="product-count">
              <button class="btn dec">-</button>
              <div class="form-group">
                <input class="form-control text-center p-0" type="text" value="10">
              </div>
              <button class="btn inc">+</button>
            </div>
          </div>

        </div>
      </div>
      <div class="cart-product d-flex flex-lg-row flex-column">
        <div class="col col-checkbox p-0 align-items-xl-start align-items-center">
          <div class="chiller_cb red-label">
            <input type="checkbox" id="2">
            <label for="2"></label>
            <span></span>
          </div>
        </div>
        <div class="col col-cart-img p-0 align-items-lg-start align-items-center">
          <div class="cart-product-img d-flex justify-content-center align-items-center">
            <img src="img/pr.png" alt="">
          </div>
        </div>
        <div class="col p-0">
          <a href="" class="cart-product-name">Шина SM 3.50-6 2PR 38A S-379 TL</a>
          <div class="cart-product-body d-flex align-items-center flex-lg-row flex-column">
            <div class="cart-product-desc">
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Размер шины
                </p>
                <p class="info-name position-relative">
                  5,80 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Внешний диаметр
                </p>
                <p class="info-name position-relative">
                  0,81 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  Бренд
                </p>
                <p class="info-name position-relative">
                  Starmaxx
                </p>
              </div>
            </div>
            <div class="cart-product-total-price d-flex align-items-center">
              <span class="price">10 200</span><span class="rub">₽</span>
            </div>
            <div class="product-count">
              <button class="btn dec">-</button>
              <div class="form-group">
                <input class="form-control text-center p-0" type="text" value="10">
              </div>
              <button class="btn inc">+</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="cart-pay-area d-flex flex-column justify-content-center align-items-center">
      <h6 class="text-center">Ваша корзина</h6>
      <p class="cart-count text-center">2 товара</p>
      <strong class="methods-pay text-center">Способы оплаты</strong>
      <div class="pay-area d-flex justify-content-between flex-column">

        <div class="pay d-flex ">
          <div class="chiller_cb">
            <input id="pay1" type="checkbox">
            <span></span>
            <label for="pay1">
              <button class="btn d-flex justify-content-center align-items-center">
                <img src="img/pay-1.svg" class="icon-svg" alt="">
              </button>
              Наличный расчет
            </label>
          </div>
        </div>

        <div class="pay d-flex">
          <div class="chiller_cb">
            <input id="pay2" type="checkbox">
            <span></span>
            <label for="pay2">
              <button class="btn d-flex justify-content-center align-items-center">
                <img src="img/pay-2.svg" class="icon-svg" alt="">
              </button>
              Безналичный расчет
            </label>
          </div>
        </div>

        <div class="pay d-flex">
          <div class="chiller_cb">
            <input id="pay3" type="checkbox">
            <span></span>
            <label for="pay3">
              <button class="btn d-flex justify-content-center align-items-center">
                <img src="img/pay-3.svg" class="icon-svg" alt="">
              </button>
              Наличный расчет
            </label>
          </div>
        </div>

        <!--        <button href="#" class="btn d-flex justify-content-center align-items-center " data-name="pay-2">-->
        <!--          <img src="img/pay-2.svg" class="icon-svg" alt="">-->
        <!--          <div class="tooltip-pay" role="tooltip" data-name="tooltip-pay-1">-->
        <!--            <span>Банковская карта</span>-->
        <!--          </div>-->
        <!--        </button>-->

        <!--        <button href="#" class="btn d-flex justify-content-center align-items-center" data-name="pay-3">-->
        <!--          <img src="img/pay-3.svg" class="icon-svg" alt="">-->
        <!--          <div class="tooltip-pay" role="tooltip" data-name="tooltip-pay-1">-->
        <!--            <span>Безналичный расчет</span>-->
        <!--          </div>-->
        <!--        </button>-->

      </div>
      <strong class="methods-pay text-center">Общая стоимость</strong>
      <div class="cart-product-total-price d-flex align-items-center">
        <span class="price">10 200</span><span class="rub">₽</span>
      </div>
      <div class="buttons-area">
        <button class="btn btn-blue">
          Перейти к оформлению
        </button>
      </div>
    </div>
  </div>

</div>
