@import "../../../sass/vars"
.product-card-area
  transition: 0.3s ease all
  &:hover
    cursor: pointer
    filter: drop-shadow(0px 0.25rem 0.75rem rgba(0, 0, 0, 0.25))
  .btn
    padding: 0.4375rem 0.625rem
    border-radius: 0 0 0.3125rem 0.3125rem
    font-size: 1rem

.product-card
  padding: 0.25rem 0 0 0
  background: #FFFFFF
  border: 0.0625rem solid rgba(0, 0, 0, 0.1)
  border-bottom: none
  border-radius: 0.3125rem 0.3125rem 0 0

.product-card-title
  margin-bottom: 0.44rem
  //padding: 0 0.2rem
  h2
    font: 1.25rem/130% 'OpenSans'
    min-height: 3.3125rem

.product-card-image
  position: relative
  padding: 0.5rem 0 1rem 0
  height: 11.25rem
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1)
  img
    //height: 10.625rem
    max-width: 100%

.product-card-info
  margin: 0.875rem 0 0 0
  padding: 0 0.9375rem 0.625rem 0.9375rem
  .cart-product-total-price
    margin: 0
    flex-wrap: wrap
    .price
      color: #076CB5
  .product-count
    margin: 0

.product-price-count
  margin: 0.625rem 0

.product-card-info-item
  margin: 0 0 0.125rem 0
  &:before
    content: ''
    position: absolute
    width: 100%
    top: 50%
    border-bottom: 0.0625rem dashed rgba(0, 0, 0, 0.1)
  p
    padding: 0.313rem 0
    font: 300 0.875rem/1.125rem 'SFProDisplay-Light', sans-serif
    background-color: $white
  .info-prop
    text-align: right
    word-break: break-all
    max-width: 60%
  .info-name

    max-width: 60%
  .info-name, .info-prop
    margin: 0
//max-width: 12.5rem


.product-card-bottom
  .old-price
    color: #939CB0
    font: 1.0625rem/1.625rem 'OpenSans-Italic'
  .total-price
    color: #6D6F7C
    font: 0.8125rem/1.625rem 'OpenSans'
    .price
      color: $color2
    .total-price-t
      font-family: 'PT Sans', sans-serif

.product-cart-model
  .product-card
    padding: 1.25rem 0 0 0
  .product-card-title
    font-size: 1.5rem
    margin: 0 0.9375rem 1.5625rem 0.9375rem
  .product-card-image
    padding: 0 0 1.875rem 0
    height: 15rem
    flex: 0 0 auto
    img
      height: 100%

.promo-card
  text-transform: uppercase
  position: absolute
  font: 0.9375rem/1.625rem 'OpenSans-Bold'
  color: $color2
  top: 0.9375rem
  left: 0.9375rem
.more-mob
  display: none
.more-pc
  display: flex
.style-row
  display: none
  .more-mob
    display: flex
  .more-pc
    display: none
  .product-cart-model
    .product-card
      padding: 0
      border-bottom: .0625rem solid rgba(0, 0, 0, .1)
      a
        align-items: center
        display: flex
        flex-direction: row-reverse
        justify-content: flex-end
      .product-card-image
        height: 100%
        padding: 1.25rem
        border-right: .0625rem solid rgba(0, 0, 0, .1)
        border-bottom: none
      .btn
        width: 80%
        border-radius: .3125rem
      .buttons-area
        justify-content: center
      .product-card-title
        display: flex
        flex-direction: column
        align-items: center
        padding: 0.3125rem 0
        h2
          min-height: auto
          margin: 0 0 1.875rem 0

@media (max-width: 576px)
  .style-row .product-cart-model .product-card .product-card-image
    width: 40%
  .style-row .product-cart-model .product-card .btn
    width: 100%
  .style-row .product-cart-model .product-card .product-card-title h2
    margin-bottom: 0.625rem
