@font-face {
 font-family: 'OpenSans-Bold';
 src: local('OpenSans-Bold'), local('OpenSans-Bold'),
 url('OpenSans/OpenSans-Bold.woff2') format('woff2'),
 url('OpenSans/OpenSans-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: 'OpenSans';
 src: local('OpenSans'), local('OpenSans'),
 url('OpenSans/OpenSans.woff2') format('woff2'),
 url('OpenSans/OpenSans.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}
@font-face {
 font-family: 'OpenSans-Italic';
 src: local('OpenSans-Italic'), local('OpenSans-Italic'),
 url('OpenSans/OpenSans-Italic.woff2') format('woff2'),
 url('OpenSans/OpenSans-Italic.woff') format('woff');
 font-weight: 400;
 font-style: italic;
}
@font-face {
 font-family: 'OpenSans-Semibold';
 src: local('OpenSans-Semibold'), local('OpenSans-Semibold'),
 url('OpenSans/OpenSans-Semibold.woff2') format('woff2'),
 url('OpenSans/OpenSans-Semibold.woff') format('woff');
 font-weight: 400;
 font-style: italic;
}
@font-face {
 font-family: 'PTSans-Bold';
 src: local('PTSans-Bold'), local('PTSans-Bold'),
 url('PTSans/PTSans-Bold.woff2') format('woff2'),
 url('PTSans/PTSans-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: 'PTSans-Regular';
 src: local('PTSans-Regular'), local('PTSans-Regular'),
 url('PTSans/PTSans-Regular.woff2') format('woff2'),
 url('PTSans/PTSans-Regular.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}
