@import "../../../sass/vars"
.header-area
  box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.12)

.header-line
  background-color: $color1
  color: $white
  font: 400 1.0625rem/1.4375rem 'OpenSans' sans-serif
  padding: 0.625rem 0

.header
  background-color: $white
//padding: 0.625rem 0

.header-logo
  margin: 0 2.1875rem 0 0

.header-navigation
  flex: 1 1 auto

.nav-item
  //padding: 1.875rem 0
  display: flex
  align-items: center
  justify-content: center
  position: relative
  &:before
    content: ''
    position: absolute
    bottom: 0
    width: 0
    height: 3px
    background-color: $color2
    left: 0
    transition: $transition
  &.active:before
    width: 100%

.nav-item-search:before
  display: none

.nav-link
  font: 400 1rem/1.375rem 'OpenSans'
  padding: 1.875rem 0
  height: 100%

.nav-item:hover
  .sub-menu-area
    opacity: 1
    visibility: visible
    transform: perspective(37.5rem) rotateX(0)
  &:before
    width: 100%

.sub-menu-area
  position: absolute
  transform: perspective(37.5rem) rotateX(-90deg)
  transform-origin: 0 0 0
  left: -1.25rem
  right: auto
  opacity: 0
  visibility: hidden
  transition: .5s
  z-index: 99
  top: calc(100% + 0.5rem)
  min-width: 100%
  background-color: $white
  padding: 0.125rem 1.25rem
  box-shadow: 0px 0px 0.9375rem rgba(0, 0, 0, 0.2)

.sub-menu
  li
    padding: 0.4375rem 0
  li:not(:last-child)
    border-bottom: 0.03125rem solid $color3
  a
    padding: 0 1.5625rem 0 0
    text-transform: uppercase
    font: 400 0.75rem/130% 'OpenSans-Italic'
    white-space: nowrap
  a.active, a:hover
    color: $color2
  &:after
    content: ''
    position: absolute
    top: -0.5rem
    left: 3.125rem
    width: 0
    height: 0
    border-style: solid
    border-width: 0 5px 8.7px 5px
    border-color: transparent transparent $white transparent

.header-cart-area
  cursor: pointer
  //height: 2.1875rem
  margin: 0 0 0 2.5rem
  padding: 0.625rem 0.9375rem
  transform: skewX(-15deg)
  border-radius: 0.3125rem
  border: 0.0625rem solid $color3

.header-cart
  transform: skewX(+15deg)

.header-cart-img
  margin: 0 0.4375rem 0 0

.header-cart-txt
  white-space: nowrap
  text-transform: uppercase
  font: 400 0.8125rem/130% 'OpenSans'
  position: relative
  margin: 0 1.0625rem 0 0
  &:before
    content: ''
    display: block
    position: absolute
    width: 0.0625rem
    height: 0.8125rem
    right: -0.6rem
    top: 0.125rem
    background-color: #eaeaea

.header-cart-sum-txt
  white-space: nowrap
  color: $color5
  font: 400 0.8125rem/130% 'OpenSans'

.header-cart-sum-total
  .count
    white-space: nowrap
    color: $color4
    font: bold 0.9375rem/130% 'OpenSans-Bold'
  .count-type
    color: $color5

.btn-mobile-menu
  margin-left: auto
  //margin-right: 1.875rem
  color: $color4
  background-color: transparent
  font-size: 2.25rem
  &:hover, &:active
    color: $color4
    background-color: transparent

.drop-down-menu-cart
  padding: 1.4375rem 0 0.9375rem 1.25rem
  max-width: 23.4375rem
  width: 100%

.drop-window
  z-index: 200
  background-color: #fff
  box-shadow: 0 0 26px rgba(0, 0, 0, .2)
  border-radius: 10px
  position: absolute
//&:before
//  position: absolute
//  content: ""
//  width: 0
//  height: 0
//  z-index: 9
//  top: -13px
//  right: 40px
//  border-color: transparent transparent #fff
//  border-style: solid
//  border-width: 0 13px 17px
.drop-down-menu-cart
  .product-price, .product-count, .cart-product-total-price
    margin: 0

.drop-menu-products-list
  padding-right: 1.25rem
  max-height: 14.6875rem
  overflow-y: auto
  overflow-x: hidden
  .cart-product-total-price
    font: 1.125rem/130% 'OpenSans'
    .price
      color: #076CB5
  .product:last-child
    margin-bottom: 0
    padding-bottom: 0
    border: none
  .product
    position: relative
    border-bottom: 0.0625rem solid #d7dfe6
    margin: 0 0 0.625rem 0
    padding-bottom: 0.625rem

    .product-img
      padding: 0.625rem
      display: flex
      justify-content: center
      align-items: center
      margin: 0 1.125rem 0 0
      border-radius: 0.3125rem
      border: 1px solid #d7dfe6
      flex: 0 0 6.25rem
      height: 6.25rem
      position: relative
      overflow: hidden
      img
        max-width: 100%
        //position: absolute
        height: 100%
        top: 0
        left: 0
    .product-info
      display: flex
      flex-wrap: wrap
      place-content: baseline
      //padding: 0 0 10px 0
      .product-name
        min-height: 2.1875rem
        width: 100%
        margin: 0 0 1rem 0
        padding: 0 0.625rem 0 0
        font: 1.125rem/130% 'OpenSans'
        text-transform: uppercase
        color: #364352
      .product-price
        //font-family: "Open Sans", sans-serif
        white-space: nowrap
        font-size:
        color: #292c39
    .old-price
      color: #6D6F7C
      font: 0.9375rem/1.25rem 'OpenSans-Semibold'
.product-delete
  display: flex
  position: absolute
  cursor: pointer
  top: 0px
  right: 0rem
  z-index: 10
  transition: 0.2s ease all
  padding: 0.125rem
  width: 0.875rem
  height: 0.875rem
  &:active
    transform: scale(0.8)
.product-bottom-info
  padding-right: 1.25rem
  padding-top: 0.625rem
  width: 100%
  .product-all-price
    justify-content: space-between
    margin: 0 10px 0 0
    .total
      text-transform: uppercase
      color: #364352
      font: 1.125rem/1.5625rem 'OpenSans'
    .price
      color: #e3010f
      font-size: 21px
      text-transform: uppercase
      margin: 0 0 0 5px
  .btn
    min-height: 2.0625rem
    color: #F6F6F8
    font: 0.8125rem/1.125rem 'OpenSans-Bold'
    text-transform: uppercase
    width: 7.5rem
