
@media (max-width: 1200px)
  .header
    & > *
      margin-top: 1.25rem
      margin-bottom: 1.25rem
  .header-cart-area

    //margin-left: auto

@media (max-width: 992px)
  .header-cart-area
    margin-left:  0!important

@media (max-width: 576px)
  .header
    justify-content: center
    .header-logo
      margin-right: 0
  .ml-auto
    margin-left: 0!important
