<header class="header-area">
  <div class="container-fluid header-line">
    <h4 class="text-center">
      Официальный дистрибьютор шин Petlas и Starmaxx в России
    </h4>
  </div>
  <div class="container">
    <div class="header d-flex flex-sm-nowrap flex-wrap align-items-center">
      <div class="header-logo d-flex align-items-center">
        <a href="/"><img src="img/logo.svg" alt="JLG"></a>

      </div>

      <div class="header-navigation d-xl-block d-none ">
        <ul class="nav d-flex align-items-center justify-content-between">
          <li class="nav-item active">
            <a class="nav-link d-flex align-items-center text-nowrap"
               href="#">Каталог
            </a>
            <ul class="sub-menu-area">
              <div class="sub-menu">
                <li><a href="/" class="active">Шины для грузовых машин</a></li>
                <li><a href="/">Шины для сельхозтехники</a></li>
                <li><a href="/">Шины для спецтехники</a></li>
              </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center text-nowrap"
               href="#">Модели
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center text-nowrap"
               href="#">О компании
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center text-nowrap active"
               href="#">Контакты</a>
          </li>

          <li class="nav-item nav-item-search"
              data-name="nav-search">
            <span class="nav-link d-flex align-items-center text-nowrap" >
              <i class="fa fa-search"></i>
            </span>
          </li>



        </ul>
      </div>


      <div class="d-flex align-items-center ml-auto">
        <button  id="sidebarCollapse"
                class="btn d-flex align-items-center btn-mobile-menu d-xl-none  ml-auto">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="header-cart-area d-flex"
             data-name="header-cart">

          <div class="header-cart d-flex align-items-center">
            <div class="header-cart-img">
              <img src="img/cart.svg" alt="">
            </div>
            <span class="header-cart-txt ">
            Корзина
          </span>
            <span class="header-cart-sum-txt">
            на сумму
          </span>
            &nbsp;
            <span class="header-cart-sum-total d-flex align-items-center">
            <span class="count">12 345</span>&nbsp;
            <span class="count-type">₽</span>
          </span>
          </div>

        </div>
      </div>

    </div>
  </div>
</header>



