@import "../../../sass/vars"

.pagination-area
  display: flex
  margin: 4.375rem 0
  .btn.active,.btn:last-child
    background: $color4
    color: $white
  .btn
    color: $color5
    padding: 0.063rem 0.688rem
    height: 1.875rem
    border-radius: 0.3125rem
    margin: 0 0.688rem 0 0
  .btn:last-child
    margin: 0
  .btn.next
    padding-left: 1.5rem
    padding-right: 1.5rem
