<div class="product-card-area product-cart-model">
  <div class="product-card">
    <a href="">
      <div class="product-card-title w-100">
        <h2><b>SM</b> 3.50-6 2PR 38AS-
          379 TL</h2>
        <div class="buttons-area w-100 more-mob">
          <button class="btn btn-blue text-center">
            Узнать подробнее
          </button>
        </div>
      </div>

      <div class="product-card-image d-flex justify-content-center align-items-center">
        <div class="promo-card">
          sale
        </div>
        <img src="img/product.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="buttons-area w-100 more-pc">
    <button class="btn btn-blue text-center w-100">
      Узнать подробнее
    </button>
  </div>
</div>
