@import "../../../sass/vars"
.tech-item-area:not(:last-child)
  margin: 0 0 2.1875rem 0
  padding: 0 0 2.1875rem 0
  border-bottom: 0.0625rem solid #D6DFE6

.tech-item-area:hover
  .tech-item-img
    transform: translateY(-0.2rem)
    box-shadow: 0px 0.625rem 0.9375rem rgba(0, 0, 0, 0.25)

.tech-item-img
  height: 12.5rem
  border-radius: 0.3125rem
  position: relative
  transition: $transition
  overflow: hidden
  margin: 0
  img
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    top: 0
    left: 0

.tech-item-info-title
  margin: 0 0 1.25rem 0
  text-transform: uppercase
  b
    font: bold 1.3125rem/1.3125rem 'OpenSans-Bold'
  h4
    max-width: 70%
    font: 300 1.3125rem/1.3125rem 'OpenSans'

.tech-item-data
  color: $color4
  font: 400 0.8125rem/1.625rem 'OpenSans'

.tech-item-info-dec
  font: 400 0.9375rem/1.125rem 'OpenSans'

.tech-read-all
  font: 400 0.9375rem/1.125rem 'OpenSans'
  text-decoration-line: underline
  color: $color7

.tech-dec:hover
  .tech-item-img
    transform: none
    box-shadow: none

.tech-dec
  margin: 0 0 3.125rem 0
  .tech-item-img
    height: 26.25rem
    margin-bottom: 1.625rem

.other-tech
  font: bold 1.3125rem/1.3125rem  'OpenSans-Bold'
  margin-bottom: 1.25rem
.share
  span
    color: $color4
    font: 600 0.9375rem/1.125rem 'OpenSans'
    margin: 0 0.3125rem 0 0
  a
    margin: 0 0.16rem
    display: inline-block
    width: 22px
    height: 22px

.tech-slid
  width: 32.5rem
  background: #F4F4F4
  border-radius: 5px
  overflow: hidden
  margin: 0 0.9375rem

.tech-slid-img
  position: relative
  height: 8.9375rem
  img
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    top: 0
    left: 0

.tech-slid-body
  padding: 1.4375rem 1.0625rem
  h5
    margin: 0 0 1.25rem 0
    font: 600 1.3125rem/1.625rem 'OpenSans-Semibold'
  .tag-list
    margin: 0 0 1.25rem 0
  .tech-date
    font: 400 0.9375rem/1.625rem 'OpenSans'
    color: #2E3541

@media (max-width: 576px)
  .tech-item-info-title h4
    width: 100%
  .tech-item-info-title
    flex-direction: column
