<div class="tech-list d-flex flex-column">
  <div class="tech-item-area d-flex container pl-0 pr-0">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4  col-sm-12">
        <div class="tech-item-img mb-lx-0 mb-lg-0 mb-md-0 mb-3" >
          <img src="https://picsum.photos/200" alt="">
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="tech-item-info">
          <div class="tech-item-info-title d-flex justify-content-between">
            <h4>
              <b>ВЫСОКОТЕХНОЛОГИЧНАЯ</b> КОНСТРУКЦИЯ
            </h4>
            <span class="tech-item-data">
          01.04.2021
        </span>
          </div>
          <p class="tech-item-info-dec">
            Колесные диски в широком смысле представляют собой металлический элемент, расположенный в центре колеса, на
            который устанавливается основная шина. Существует несколько отдельных их разновидностей, отличающихся не
            только
            размером и внешним видом, но и материалом, используемым при их изготовлении. Одни диски отличаются
            прочностью и
            долговечностью, главной особенностью других является привлекательный внешний вид. Принимать поспешные
            решения в
            выборе тех или иных дисков крайне не рекомендуется.Одни диски отличаются прочностью и долговечностью.
          </p>
          <div class="buttons-area">
            <a href="" class="btn tech-read-all">Читать дальше</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tech-item-area d-flex container p-0">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4  col-sm-12">
        <div class="tech-item-img mb-lx-0 mb-lg-0 mb-md-0 mb-3">
          <img src="https://picsum.photos/200" alt="">
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="tech-item-info">
          <div class="tech-item-info-title d-flex justify-content-between">
            <h4>
              <b>ВЫСОКОТЕХНОЛОГИЧНАЯ</b> КОНСТРУКЦИЯ
            </h4>
            <span class="tech-item-data">
          01.04.2021
        </span>
          </div>
          <p class="tech-item-info-dec">
            Колесные диски в широком смысле представляют собой металлический элемент, расположенный в центре колеса, на
            который устанавливается основная шина. Существует несколько отдельных их разновидностей, отличающихся не
            только
            размером и внешним видом, но и материалом, используемым при их изготовлении. Одни диски отличаются
            прочностью и
            долговечностью, главной особенностью других является привлекательный внешний вид. Принимать поспешные
            решения в
            выборе тех или иных дисков крайне не рекомендуется.Одни диски отличаются прочностью и долговечностью.
          </p>
          <div class="buttons-area">
            <a href="" class="btn tech-read-all ">Читать дальше</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
