<section class="slider-banner-area" data-aos="fade-up" data-aos-delay="0">
  <div class="slider-banner">
    <div class="slide-banner">
      <div class="container slide-banner-content">
        <div class="row">
          <div class="col-12">
            <h1>
              Для спецтехники
            </h1>
            <p>
              Каждому нужны самые надежные,
              <br>самые долговечные шины
            </p>
            <a href="" class="btn btn-blue">
              узнать больше
            </a>
          </div>
        </div>

      </div>
      <img src="img/slide-1.jpg" alt="Слайд">
    </div>

    <div class="slide-banner">
      <div class="container slide-banner-content">
        <div class="row">
          <div class="col-12">
            <h1>
              Для спецтехники
            </h1>
            <p>
              Каждому нужны самые надежные,
              <br>самые долговечные шины
            </p>
            <a href="" class="btn btn-blue">
              узнать больше
            </a>
          </div>
        </div>
      </div>
      <img src="img/slide-3.jpg" alt="Слайд">
    </div>
    <div class="slide-banner">
      <div class="container slide-banner-content">
        <div class="row">
          <div class="col-12">
            <h1>
              Для спецтехники
            </h1>
            <p>
              Каждому нужны самые надежные,
              <br>самые долговечные шины
            </p>
            <a href="" class="btn btn-blue">
              узнать больше
            </a>
          </div>
        </div>
      </div>
      <img src="img/slide-4.jpg" alt="Слайд">
    </div>

    <div class="slide-banner">
      <div class="container slide-banner-content">
        <div class="row">
          <div class="col-12">
            <h1>
              Для спецтехники
            </h1>
            <p>
              Каждому нужны самые надежные,
              <br>самые долговечные шины
            </p>
            <a href="" class="btn btn-blue">
              узнать больше
            </a>
          </div>
        </div>
      </div>
      <img src="img/slide-6.jpg" alt="Слайд">
    </div>
    <div class="slide-banner">
      <div class="container slide-banner-content">
        <div class="row">
          <div class="col-12">
            <h1>
              Для спецтехники
            </h1>
            <p>
              Каждому нужны самые надежные,
              <br>самые долговечные шины
            </p>
            <a href="" class="btn btn-blue">
              узнать больше
            </a>
          </div>
        </div>
      </div>
      <img src="img/slide-7.jpg" alt="Слайд">
    </div>


  </div>
</section>
