@import "../../../sass/vars"
.slider-banner-area
  .slick-dots
    display: none !important

.slider-banner
  overflow: hidden
  height: 26.25rem

.slide-banner
  min-height: 26.25rem
  width: 100%
  position: relative
  .slide-banner-content
    z-index: 5
    position: relative
  img
    display: inline-block
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

.slide-banner-content
  padding-top: 5rem
  h1
    color: $color7
    font: bold 2.75rem/3.0rem 'OpenSans-Bold'
    margin: 0 0 1.875rem 0
  p
    color: $color7
    font: 400 1.25rem/1.625rem 'OpenSans'
    margin: 0 0 3.4375rem 0
  .btn-blue
    max-width: 18.125rem
    height: 2.0625rem
    text-transform: uppercase
    font: 400 0.9375rem/1.625rem 'OpenSans'

.btn-slider-banner
  height: 3.75rem
  width: 3.4375rem
  background: rgba(255, 255, 255, 0.5)
  z-index: 50

.btn-slider
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  top: calc(50% - 1.875rem)
  font-size: 1.25rem

.slider-banner-area
  .btn-slider-prev
    border-radius: 0 0.3125rem 0.3125rem 0
    left: 0
  .btn-slider-next
    border-radius: 0.3125rem 0 0 0.3125rem
    right: 0

