<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area cart-page-area bg-gray">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
    <div class="title-block-area">
      <h1>
        <b>Корзина</b>
      </h1>
      <span class="title-count-product">2 товара</span>
    </div>

    <%= _.template(require('./../includes/cart/cart.html').default)(data) %>

    <div class="delivery-area">
      <div class="title-block-mini-area">
        <h3>
          <b>Оформление</b> заказа
        </h3>
      </div>
      <!--      Самовывоз начало-->
      <div class="cart-area delivery-product-area">
        <h5>
          <b>Ваши</b>
          контактные данные
        </h5>

        <div class="container p-0 ">
          <div class="row">
            <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>фио*</label>
                <input class="form-control w-100 dropdown-list "
                       type="text" value=""
                       placeholder="Фио">
              </div>
              <div class="error">error</div>
            </div>
            <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>номер телефона*</label>
                <input class="form-control w-100 dropdown-list "
                       type="text" value=""
                       placeholder="+7 980">

              </div>
            </div>
            <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>email*</label>
                <input class="form-control w-100 dropdown-list "
                       type="text" value=""
                       placeholder="email">
              </div>
            </div>
            <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>комментарии</label>
                <input class="form-control w-100 dropdown-list "
                       type="text" value=""
                       placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="container p-0">
          <div class="agreem d-flex">

            <div class="chiller_cb">
              <label for="3">
                Я согласен с условиями передачи данных <a href="">Соглашение.</a>
              </label>
              <input type="checkbox" id="3">

              <span></span>
            </div>
          </div>
        </div>
        <hr>
        <p class="delivery-sub">* Поля являются обязательными для заполнения</p>
      </div>
      <!--      Самовывоз конец-->
    </div>

    <!--      Доставка начало-->
    <div class="cart-area delivery-product-area">
      <h5>
        <b>Ваши</b>
        контактные данные
      </h5>

      <div class="container p-0 ">
        <div class="row">
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>фио*</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="Фио">
            </div>
            <div class="error">error</div>
          </div>
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>номер телефона*</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="+7 980">

            </div>
          </div>
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>email*</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="email">
            </div>
          </div>
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class=" m-0 position-relative">
              <label>&nbsp;</label>
              <div class="agreem d-flex">
                <div class="chiller_cb">
                  <label for="6">
                    Я согласен с условиями передачи данных <a href="">Соглашение.</a>
                  </label>
                  <input type="checkbox" id="6">
                  <span></span>
                </div>
              </div>
              <!--              <label>комментарии</label>-->
              <!--              <input class="form-control w-100 dropdown-list "-->
              <!--                     type="text" value=""-->
              <!--                     placeholder="">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>наименование организации *</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="Наименование организации">
            </div>
            <div class="error">error</div>
          </div>
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>юридический адрес *</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="Юридический адрес">

            </div>
          </div>
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>инн</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="ИНН">
            </div>
          </div>
          <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="form-group custom-form-group m-0 position-relative">
              <label>комментарии</label>
              <input class="form-control w-100 dropdown-list "
                     type="text" value=""
                     placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="container p-0">

      </div>
      <hr>
      <p class="delivery-sub">* Поля являются обязательными для заполнения</p>
    </div>
    <!--      Доставка конец-->

    <div class="delivery-area">
      <div class="title-block-mini-area">
        <h3>
          <b>Доставка</b> товара
        </h3>
      </div>

      <div class="cart-area delivery-product-area">
        <h5>
          <b>Как и где</b> вы хотите получить заказ
        </h5>
        <div class="container p-0 d-flex methods-delivery">
          <div class="chiller_cb">
            <input type="checkbox" id="4">
            <label for="4">
              Самовывоз
            </label>
            <span></span>
          </div>
          <div class="chiller_cb">
            <input type="checkbox" id="5">
            <label for="5">
              Доставка
            </label>
            <span></span>
          </div>
        </div>
        <div class="container p-0">
          <div class="row">
            <div class="col col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>Выберите точку выдачи товара</label>
                <div class="select-calc select-city-choice">
                  <select class="select select-city">
                    <option value="г.Орел, ул.Московское шоссе,д.173">г.Орел, ул.Московское шоссе,д.173</option>
                    <option value="">Адрес 2</option>
                  </select>
                </div>
              </div>
              <div class="error">error</div>
            </div>
            <div class="col  col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>комментарии</label>
                <input class="form-control w-100 dropdown-list "
                       type="text" value=""
                       placeholder="">

              </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-6 col-12 d-flex mb-3 ">
              <div class="form-group custom-form-group m-0 position-relative">
                <label>&nbsp;</label>
                <p class="delivery-sub ">
                  * Cроки отгрузки заказных позиций являются ориентировочными в связи с распространением в мире
                  коронавирусной инфекции. <a href="/">Читать далее</a>
                </p>
              </div>

            </div>
          </div>
        </div>
        <hr>
        <div class="company-delivery d-flex justify-content-around align-items-center flex-wrap flex-lg-row flex-column">
          <img src="img/d-1.png" alt="сдэк">
          <img src="img/d-2.png" alt="ждэ">
          <img src="img/d-3.png" alt="кит">
          <img src="img/d-4.png" alt="датранс">
          <img src="img/d-5.png" alt="деловыелинии">
        </div>
        <p class="delivery-p">
          После оформления заказа на указаный номер телефона придет sms-сообщение с номером заказа. Если вы оставляете
          адрес электронной почты, то на указанный адрес автоматически сформируется и отправится состав заказа и его
          описание.
        </p>
        <hr>
        <div class="buttons-area justify-content-between flex-wrap">
          <div class="cart-product-total-price total-cart-price d-flex align-items-center m-md-0 mt-3 mb-3">
            <span>ВСЕГО:</span><span class="price">10 200</span><span class="rub">₽</span>
          </div>
          <button class="btn btn-red buying">оформить покупку</button>
        </div>
      </div>

    </div>
  </div>
</section>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

