<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area cart-page-area ">
  <div class="bg-gray pb-70">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block-area">
        <h1>
          <b>Корзина</b>
        </h1>
        <span class="title-count-product">0 товара</span>
      </div>

      <div class="cart-area cart-products-area empty m-0">
        <div class="cart-header">
          <span><b>Ваш заказ</b> успешно принят.</span> После обработки заявки менеджером вам обязательно перезвонят.
        </div>
        <div class="cart-body d-flex justify-content-center">

          <img src="img/empty-cart.svg" alt="">

        </div>
        <div class="cart-header border-0 m-0 p-0">
          <b>В корзине</b><span style="color: #E30613"> нет ни одного товара</span>. Вы можете подобрать интересующие вас товары в нашем каталоге товаров.
        </div>
      </div>

    </div>
  </div>

  <%= _.template(require('./../includes/slider-card/slider-card.html').default)(data) %>
</section>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

