<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area cart-page-area ">
  <div class="">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block-area">
        <h1>
          <b>Шины </b>для сельхозтехники
        </h1>
        <span class="title-count-product">225 товара</span>
        <div class="line-filter d-flex align-items-center ml-xl-auto ml-lg-auto ml-0">
          Сортировать по:
          <button class="btn btn-dashed">Скидке</button>
          <button class="btn btn-dashed active">Обновлению</button>
          <button class="btn btn-dashed">Наличию</button>
        </div>
      </div>

      <section class="catalog-product-area">
        <div class="container p-0">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12">
              <div class="container pl-0 container-filter">
                <h3 class="title-f"><b>Параметры</b></h3>
                <form id="formFilter" action="" class="position-relative">

                  <div class="filter-search-area">
                    <div class="filter-search">
                      <p>
                        Найдено <b>6</b> моделей
                      </p>
                      <div class="d-flex">
                        <button class="btn btn-blue">
                          Показать
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-6">
                      <div class="filter d-flex flex-column filter-checkboxes">
                        <div class="filter-title-block d-flex">
                          <h4>Диаметр</h4>
                          <button class="btn filter-reset">Сбросить</button>
                        </div>
                        <div class="form-group custom-form-group filter-select mb-0">
                          <div class="select-calc">
                            <select class="select">
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                            </select>
                          </div>
                        </div>
                        <hr>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-6">
                      <div class="filter d-flex flex-column filter-checkboxes">
                        <div class="filter-title-block d-flex">
                          <h4>Размер</h4>
                          <button class="btn filter-reset">Сбросить</button>
                        </div>
                        <div class="form-group custom-form-group filter-select mb-0">
                          <div class="select-calc">
                            <select class="select">
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                            </select>
                          </div>
                        </div>
                        <hr>
                      </div>

                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-6">
                      <div class="filter d-flex flex-column filter-checkboxes">
                        <div class="filter-title-block d-flex">
                          <h4>Бренд</h4>
                          <!--                          <span class="filter-reset">Сбросить</span>-->
                        </div>

                        <div class="chiller_cb">
                          <input id="diesel" type="checkbox">
                          <label for="diesel">Starmaxx</label>
                          <span></span>
                        </div>
                        <div class="chiller_cb">

                          <input id="electric" type="checkbox">
                          <label for="electric">Petlax</label>
                          <span></span>
                        </div>
                        <hr>
                      </div>

                    </div>

                    <div class="col-xl-12 col-lg-12 col-sm-6">

                      <div class="filter d-flex flex-column" data-parent>
                        <div class="filter-title-block d-flex">
                          <h4>Цена, руб</h4>
                          <!--                          <span class="filter-reset">Сбросить</span>-->
                        </div>

                        <div class="filter-type-price-area d-flex justify-content-between">
                          <div class="filter-type-price d-flex">
                            <input type="text" class="form-control" data-range-from value="1">
                          </div>
                          <div class="filter-type-price d-flex">
                            <input type="text" class="form-control" data-range-to value="15000">
                          </div>
                        </div>
                        <div class="filter-range-area">
                          <div id="range01" data-range data-step="5" data-range-min="0" data-range-max="1000"></div>
                        </div>
                        <hr>
                      </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-sm-6">

                    </div>

                    <div class="col-xl-12 col-lg-12 col-sm-12 d-flex flex-column align-items-center">
                      <button class="btn btn-blue filter-btn">
                        Показать
                      </button>
                      <button class="btn  filter-btn reset">
                        <span>Сбросить</span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12">
              <div class="container p-0">
                <div class="row">
                  <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                    <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                    <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                    <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                    <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                    <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                    <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </section>

    </div>
    <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
  </div>

  <%= _.template(require('./../includes/slider-card/slider-card.html').default)(data) %>
</section>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

