<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area contact-page-area pb-0">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
    <div class="title-block-area">
      <h1>
        <b>Контакты</b>
      </h1>
    </div>
    <div class="contact-region d-flex align-items-center">
      <img src="img/flag_ru.png" alt="" class="flag">
      <span>Российская Федерация</span>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="contact-item-area">
          <h3 class="text-center">Москва</h3>
          <ul>
            <li>
                <span>
                  <img class="icon-svg" src="img/point-1.svg" alt="">
                  <span class="contact-text">Ул.Ломоносова, 6б</span>
                </span>
            </li>
            <li>
              <a href="mailto:manager@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">manager@protektor57.ru</span>
              </a>
            </li>
            <li>
              <a href="mailto:zap@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">zap@protektor57.ru</span>
              </a>
            </li>

            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/phone-1.svg" alt="">
                <span class="contact-text">8 4862 <b>488-777</b></span>
              </a>
            </li>
            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/time.svg" alt="">
                <span class="contact-text">пн-пт <b>с 9.00 до 19.00 </b></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="contact-item-area">
          <h3 class="text-center">Орел</h3>
          <ul>
            <li>
                <span>
                  <img class="icon-svg" src="img/point-1.svg" alt="">
                  <span class="contact-text">Ул.Ломоносова, 6б</span>
                </span>
            </li>
            <li>
              <a href="mailto:manager@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">manager@protektor57.ru</span>
              </a>
            </li>
            <li>
              <a href="mailto:zap@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">zap@protektor57.ru</span>
              </a>
            </li>

            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/phone-1.svg" alt="">
                <span class="contact-text">8 4862 <b>488-777</b></span>
              </a>
            </li>
            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/time.svg" alt="">
                <span class="contact-text">пн-пт <b>с 9.00 до 19.00 </b></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="contact-item-area">
          <h3 class="text-center">Ростов-на-Дону</h3>
          <ul>
            <li>
                <span>
                  <img class="icon-svg" src="img/point-1.svg" alt="">
                  <span class="contact-text">Ул.Ломоносова, 6б</span>
                </span>
            </li>
            <li>
              <a href="mailto:manager@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">manager@protektor57.ru</span>
              </a>
            </li>
            <li>
              <a href="mailto:zap@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">zap@protektor57.ru</span>
              </a>
            </li>

            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/phone-1.svg" alt="">
                <span class="contact-text">8 4862 <b>488-777</b></span>
              </a>
            </li>
            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/time.svg" alt="">
                <span class="contact-text">пн-пт <b>с 9.00 до 19.00 </b></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="contact-item-area">
          <h3 class="text-center">Новосибирск</h3>
          <ul>
            <li>
                <span>
                  <img class="icon-svg" src="img/point-1.svg" alt="">
                  <span class="contact-text">Ул.Ломоносова, 6б</span>
                </span>
            </li>
            <li>
              <a href="mailto:manager@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">manager@protektor57.ru</span>
              </a>
            </li>
            <li>
              <a href="mailto:zap@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">zap@protektor57.ru</span>
              </a>
            </li>

            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/phone-1.svg" alt="">
                <span class="contact-text">8 4862 <b>488-777</b></span>
              </a>
            </li>
            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/time.svg" alt="">
                <span class="contact-text">пн-пт <b>с 9.00 до 19.00 </b></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="contact-region d-flex align-items-center">
      <img src="img/flag_t.png" alt="" class="flag">
      <span>Турция</span>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="contact-item-area line-type">
          <h3 class="text-center">Стамбул</h3>
          <ul class="d-lx-flex d-lg-flex d-block flex-lx-row flex-lg-row flex-column">
            <li>
                <span>
                  <img class="icon-svg" src="img/point-1.svg" alt="">
                  <span class="contact-text">Ул.Ломоносова, 6б</span>
                </span>
            </li>
            <li>
              <a href="mailto:manager@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">manager@protektor57.ru</span>
              </a>
            </li>
            <li>
              <a href="mailto:zap@protektor57.ru">
                <img class="icon-svg" src="img/mail-1.svg" alt="">
                <span class="contact-text">zap@protektor57.ru</span>
              </a>
            </li>

            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/phone-1.svg" alt="">
                <span class="contact-text">8 4862 <b>488-777</b></span>
              </a>
            </li>
            <li>
              <a href="tel:84862488777">
                <img class="icon-svg" src="img/time.svg" alt="">
                <span class="contact-text">пн-пт <b>с 9.00 до 19.00 </b></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <p class="contact-page-info">
      Доставка вашего товара транспортными компаниями и службами доставки осуществляется по территории России и в страны
      СНГ. Рассчет стоимости доставки осуществляется у представителей транспортной компании или вашего персонального
      менеджера
    </p>
  </div>
  <div class="map-area">
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa18356a33029b39a64eaca12aa7a514e9ee02d23a17a80e30b2a243e2e177a27&amp;&amp;height=320&amp;lang=ru_RU&amp;scroll=true">
    </script>
  </div>
</section>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

