<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area tech-page-area">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
    <div class="title-block-area">
      <h1>
        <b>Технологии</b>
      </h1>
    </div>
    <div class="tag-list">
      <a href="" class="btn btn-tag active">
        Колесные диски
      </a>
      <a href="" class="btn btn-tag">
        Магазин колесных дисков
      </a>
    </div>
    <div class="tech-item-area tech-dec d-flex container pl-0 pr-0 flex-column">
      <div class="row flex-column">
        <div class="col-12">
          <div class="tech-item-img mb-lx-0 mb-lg-0 mb-md-0 mb-3">
            <img  src="img/slide-1.jpg" alt="">
          </div>
        </div>
        <div class="col-12">
          <div class="tech-item-info">
            <p class="tech-item-info-dec">
              Колесные диски в широком смысле представляют собой металлический элемент, расположенный в центре колеса,
              на
              который устанавливается основная шина. Существует несколько отдельных их разновидностей, отличающихся не
              только
              размером и внешним видом, но и материалом, используемым при их изготовлении. Одни диски отличаются
              прочностью и
              долговечностью, главной особенностью других является привлекательный внешний вид. Принимать поспешные
              решения в
              выборе тех или иных дисков крайне не рекомендуется.Одни диски отличаются прочностью и долговечностью.
              <br> <br>
              Колесные диски в широком смысле представляют собой металлический элемент, расположенный в центре колеса,
              на
              который устанавливается основная шина. Существует несколько отдельных их разновидностей, отличающихся не
              только
              размером и внешним видом, но и материалом, используемым при их изготовлении. Одни диски отличаются
              прочностью и
              долговечностью, главной особенностью других является привлекательный внешний вид. Принимать поспешные
              решения в
              выборе тех или иных дисков крайне не рекомендуется.Одни диски отличаются прочностью и долговечностью.
            </p>
            <div class="share">
              <span>Поделиться</span>
              <a href="/">
                <img src="img/f.svg" alt="">
              </a>
              <a href="/">
                <img src="img/vk.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <div class="col-12">
      <h2 class="other-tech">
        <b>Другие статьи</b>
      </h2>
    </div>

    <div class="tech-slider">
      <div class="tech-slid d-flex flex-column">
        <div class="tech-slid-img">
          <img src="img/slide-1.jpg" alt="">
        </div>
        <div class="tech-slid-body">
          <h5>Литые диски в нашем интернет- магазине</h5>
          <div class="tag-list">
            <a href="" class="btn btn-tag active">
              Колесные диски
            </a>
            <a href="" class="btn btn-tag">
              Магазин колесных дисков
            </a>
          </div>
          <div class="tech-date">
            01.04.2021
          </div>
        </div>
      </div>
      <div class="tech-slid d-flex flex-column">
        <div class="tech-slid-img">
          <img  src="img/slide-1.jpg" alt="">
        </div>
        <div class="tech-slid-body">
          <h5>Литые диски в нашем интернет- магазине</h5>
          <div class="tag-list">
            <a href="" class="btn btn-tag active">
              Колесные диски
            </a>
            <a href="" class="btn btn-tag">
              Магазин колесных дисков
            </a>
          </div>
          <div class="tech-date">
            01.04.2021
          </div>
        </div>
      </div>
      <div class="tech-slid d-flex flex-column">
        <div class="tech-slid-img">
          <img  src="img/slide-1.jpg" alt="">
        </div>
        <div class="tech-slid-body">
          <h5>Литые диски в нашем интернет- магазине</h5>
          <div class="tag-list">
            <a href="" class="btn btn-tag active">
              Колесные диски
            </a>
            <a href="" class="btn btn-tag">
              Магазин колесных дисков
            </a>
          </div>
          <div class="tech-date">
            01.04.2021
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
  </div>
</section>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

