<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area model-page-area p-0">
  <div class="bg-gray pb-70">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block-area">
        <h1>
          <b>Шина SM </b>3.50-6 2PR 38A S-379 TL
        </h1>
      </div>
      <div class="cart-area model-area m-0 d-flex flex-xl-row flex-column" >
        <div class="model w-100 d-flex align-items-center flex-md-row flex-column">
          <div class="col p-0 col-model-img">
            <div class="model-img">
              <img src="img/pr_big.png" alt="">
            </div>
          </div>
          <div class="col p-0">
            <h6>Параметры товара</h6>
            <div class="cart-product-desc">
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  <b>Артикул</b>
                </p>
                <p class="info-name position-relative">
                  UEGFE
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  <b>Размер шины</b>
                </p>
                <p class="info-name position-relative">
                  5,80 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  <b>Внешний диаметр</b>
                </p>
                <p class="info-name position-relative">
                  0,81 m
                </p>
              </div>
              <div class="cart-product-info d-flex justify-content-between position-relative w-100">
                <p class="info-name position-relative">
                  <b>Бренд</b>
                </p>
                <p class="info-name position-relative">
                  Starmaxx
                </p>
              </div>
              <img src="img/logo.svg" alt="" class="logo-brand ">
            </div>
          </div>
        </div>


        <div class="add-cart-area d-flex flex-column">
          <h6>Добавить в корзину</h6>
          <div class="cart-product-desc">
            <div class="cart-product-info d-flex justify-content-between position-relative w-100">
              <p class="info-name position-relative">
                <b>Цена</b>
              </p>
              <p class="info-name position-relative">
                <span class="price">10 200</span><span class="rub">₽</span>
              </p>
            </div>
            <div class="cart-product-info d-flex justify-content-between position-relative w-100">
              <p class="info-name position-relative">
                <b>Количество</b>
              </p>
              <div class="product-count ">
                <button class="btn dec">-</button>
                <div class="form-group">
                  <input class="form-control text-center p-0" type="text" value="10">
                </div>
                <button class="btn inc">+</button>
              </div>
            </div>

            <div class="cart-product-info d-flex justify-content-between position-relative w-100">
              <p class="info-name position-relative">
                <b>Общая цена</b>
              </p>
              <div class="info-name">
                <div class="cart-product-total-price d-flex align-items-center">
                  <span class="price">10 200</span><span class="rub">₽</span>
                </div>
              </div>

            </div>
            <div class="buttons-area d-flex justify-content-center">
              <button class="btn btn-blue w-100">
                Добавить в  корзину
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <%= _.template(require('./../includes/slider-card/slider-card.html').default)(data) %>
</section>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

