<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<p style="font-family: 'OpenSans-Bold' ">OpenSans-Bold</p>
<p style="font-family: 'OpenSans'">OpenSans</p>
<p style="font-family: 'PTSans-Bold' ">PTSans-Bold</p>
<p style="font-family: 'PTSans-Regular' ">PTSans-Regular</p>

<div style="width: 16.5rem">


</div>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

