<% var data = {
title: "Протектор 57"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<ul class="list-group">
  <li class="list-group-item">
    <a href="index-0.html">Элементы</a>
  </li>
  <li class="list-group-item">
    <a href="index-1.html">Главная</a>
  </li>
  <li class="list-group-item">
    <a href="index-2.html">Пользовательское соглашение</a>
  </li>
  <li class="list-group-item">
    <a href="index-3.html">404</a>
  </li>
  <li class="list-group-item">
    <a href="index-4.html">Результат поиска</a>
  </li>
  <li class="list-group-item">
    <a href="index-5.html">Технологии_общее</a>
  </li>
  <li class="list-group-item">
    <a href="index-6.html">Технологии_станица</a>
  </li>
  <li class="list-group-item">
    <a href="index-7.html">Контакты</a>
  </li>
  <li class="list-group-item">
    <a href="index-8.html">Корзина</a>
  </li>
  <li class="list-group-item">
    <a href="index-9.html">Корзина_принято</a>
  </li>
  <li class="list-group-item">
    <a href="index-10.html">Шины для сельхозтехники</a>
  </li>
  <li class="list-group-item">
    <a href="index-11.html">Модели</a>
  </li>
  <li class="list-group-item">
    <a href="index-12.html">Карточка товара</a>
  </li>
</ul>
<button class="btn btn-blue"
        data-toggle="modal"
        data-target="#data-send">
  Данные отправлены оператору
</button>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

