<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area user-agreement-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-block-area">
          <h1>
            <b>Пользовательское</b> соглашение
          </h1>
        </div>
        <p>
          Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта www. (далее —
          «Сайт»).
        </p>
        <h2>
          1.Общие условия
        </h2>
        <p>
          1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской
          Федерации.
        </p>
        <p>
          1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается
          присоединившимся к настоящему Соглашению.
        </p>
        <p>
          1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения.
          Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на
          сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту,
          прекратить использование материалов и сервисов Сайта.
        </p>
        <h2>
          2. Обязательства Пользователя
        </h2>
        <p>
          2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие
          российское законодательство или нормы международного права, в том числе в сфере интеллектуальной
          собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к
          нарушению нормальной работы Сайта и сервисов Сайта.
        </p>
        <p>
          2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для
          правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий)
          от Правообладателей.
        </p>
        <p>
          2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна
          (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
        </p>
        <p>
          2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями
          законодательства Российской Федерации и общепринятых норм морали и нравственности.
        </p>
        <p>
          2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и
          использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
        </p>
        <p>
          2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или
          косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками,
          связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами
          или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в
          которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
        </p>
        <p>
          2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут
          сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо
          ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
        </p>
        <h2>
          3. Прочие условия
        </h2>
        <p>
          3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в
          соответствии с действующим законодательством Российской Федерации.
        </p>
        <p>
          3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта
          агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма,
          либо каких-то иных отношений, прямо не предусмотренных Соглашением.
        </p>
        <p>
          3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному
          исполнению не влечет недействительности иных положений Соглашения.
        </p>
        <p>
          3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений
          Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих
          интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
        </p>
        <p>
          <strong>
            Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.
          </strong>
        </p>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

