<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area error-page-area pb-0">
  <img src="img/404.png" alt="" class="error-page-img">
  <div class="container d-flex align-items-center flex-column">
    <img src="img/logo.svg" alt="" class="logo">
    <h3>
      Страница не найдена
    </h3>
    <h1>
      404
    </h1>
    <p class="text-center">
      Неправильно набран адрес
      <br>или такой страницы не существует.
    </p>
    <div class="buttons-area">
      <a class="btn btn-blue btn-skew text-uppercase">
        <span>
          вернуться на сайт
        </span>
      </a>
    </div>
  </div>

</section>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

