<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/load/load.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>
<div class="content-area pb-0">
  <%= _.template(require('./../includes/slider-banner/slider-banner.html').default)(data) %>

  <%= _.template(require('./../includes/type-tire/type-tire.html').default)(data) %>
  <div class="bg-gray">

    <%= _.template(require('./../includes/slider-card/slider-card.html').default)(data) %>
  </div>

  <div class="container-page ">
    <div class="container">
      <div class="title-block-area m-05">
        <h1>
          <b>Контакты</b>
        </h1>
        <button class="btn p-0" data-toggle="modal"
           data-target="#modal-contact-map">
          Смотреть все
        </button>
      </div>
      <p class="contact-page-info">
        Наша компания имеет представительства В России и Турции.
      </p>
      <div class="contact-map-area"  data-aos="zoom-out-up" data-aos-delay="200"
      >

        <h3 class="map-name-region position-7">
          Турция
        </h3>
        <h3 class="map-name-region position-8">
          Россия
        </h3>
        <div
          data-name="map-point-1"
          class="point-area position-1 d-flex flex-column align-items-center">
          <img src="img/point-red.svg" alt="" class="map-point ">
          <span class="point-city">Турция</span>
        </div>
        <div class="point-area position-2 d-flex flex-column-reverse  align-items-center">
          <img src="img/point-red.svg" alt="" class="map-point ">
          <span class="point-city">ростов-на дону</span>
        </div>
        <div
          data-name="map-point-3"
          class="point-area position-3 d-flex flex-column align-items-center">
          <img src="img/point-red.svg" alt="" class="map-point ">
          <span class="point-city">Орел</span>
        </div>
        <div class="point-area position-4 d-flex flex-column  align-items-center">
          <img src="img/point-red.svg" alt="" class="map-point ">
          <span class="point-city">Москва</span>
        </div>
        <div class="point-area position-5 d-flex flex-column align-items-center">
          <img src="img/point-red.svg" alt="" class="map-point ">
          <span class="point-city">Санкт-Петербург</span>
        </div>
        <div class="point-area position-6 d-flex flex-column align-items-center">
          <img src="img/point-red.svg" alt="" class="map-point ">
          <span class="point-city">новосибирск</span>
        </div>
        <img src="img/map.png" alt="" class="contact-map">
      </div>
    </div>
  </div>

  <div class="container-page bg-gray about-company-page-area">
    <div class="container">
      <div class="title-block-area m-05">
        <h1>
          <b>О компании</b>
        </h1>
      </div>
      <p class="about-company-page-info" data-aos="zoom-out-up" data-aos-delay="200">
        Мы осуществляем свою деятельность в полном <span>соответствии с действующими законами</span> и нормативными
        требованиями.
        Наши правила и принципы деловой этики основаны на доверии и уважении. Мы не принимаем подарков, взяток и иных
        подношений от частных лиц. Мы честны по отношению к своим сотрудникам, клиентам, поставщикам и органам
        государственной власти. <a href="/">Читать дальше</a>
      </p>
    </div>
  </div>

</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

