<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area search-page-area bg-gray">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
    <div class="title-block-area">
      <h1>
        <b>Результат</b> поиска
      </h1>
    </div>
    <p class="search-no-result">
      По запросу “Машина белая” ничего не найдено. Поищем еще?
    </p>

    <div class="search-area d-flex">
      <form action="" class="d-flex w-100 position-relative flex-column">
        <div class="form-group custom-form-group m-0 position-relative">
          <input class="form-control w-100 dropdown-list "
                 id="title-search-input" type="text" value=""
                 placeholder="Поиск"
                 size="40" maxlength="50" autocomplete="off">
          <div class="search-btn">
            <i class="fa fa-search"></i>
          </div>

<!--          <ul class="dropdown-menu fade w-100" style="opacity: 1; display: block">-->
<!--            <li class="dropdown-item"><a href="index-12.html">RT266</a></li>-->
<!--            <li class="dropdown-item"><a href="index-12.html">RT266</a></li>-->
<!--          </ul>-->
        </div>
        <div class="error">Ошибка</div>
      </form>
    </div>

    <!--<div class="title-block-area search-title">-->
      <!--<h1>-->
        <!--<b>Вы недавно интересовались</b>-->
      <!--</h1>-->
      <!--<a href="/" class="btn">-->
        <!--Смотреть все-->
      <!--</a>-->
    <!--</div>-->

  </div>

  <%= _.template(require('./../includes/slider-card/slider-card.html').default)(data) %>

</section>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

