<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area tech-page-area">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
    <div class="title-block-area">
      <h1>
        <b>Технологии</b>
      </h1>
    </div>
    <div class="tag-list">
      <a href="" class="btn btn-tag active">
        Колесные диски
      </a>
      <a href="" class="btn btn-tag">
        Магазин колесных дисков
      </a>
    </div>
    <%= _.template(require('./../includes/tech-list/tech-list.html').default)(data) %>
    <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
  </div>
</section>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

