<% var data = {
title: "starmaxx"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/modals/modals.html').default)(data) %>
<%= _.template(require('./../includes/nav-line/nav-line.html').default)(data) %>

<section class="content-area cart-page-area ">
  <div class="bg-gray ">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block-area mb-3">
        <h1>
          <b>Модели </b>шин
        </h1>
        <span class="title-count-product">225 товара</span>
        <div class="line-filter d-flex align-items-center ml-xl-auto ml-lg-auto ml-0">
          Сортировать по:
          <button class="btn btn-dashed">Скидке</button>
          <button class="btn btn-dashed active">Обновлению</button>
          <button class="btn btn-dashed">Наличию</button>
        </div>
        <div class="line-filter d-flex align-items-center ml-xl-auto ml-lg-auto ml-0">
          <div class="count-see">
            Показывать по: <span class="active">10</span><span>20</span><span>50</span>
          </div>

          <button class="btn p-0 style-card style-card-col active" id="style-card-col">
            <img src="img/col.svg" class="icon-svg" alt="">
          </button>
          <button class="btn p-0 style-card style-card-row " id="style-card-row">
            <img src="img/row.svg" class="icon-svg" alt="" >
          </button>
        </div>
      </div>

      <div class="tag-list mt-3">
        <a href="" class="btn btn-tag active">
          Колесные диски
        </a>
        <a href="" class="btn btn-tag">
          Магазин колесных дисков
        </a>
      </div>

      <section class="catalog-product-area">
        <div class="container p-0">
          <div class="row style-col">
            <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
          </div>
          <div class="row style-row">
            <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
              <%= _.template(require('./../includes/product-cart-model/product-cart-model.html').default)(data) %>
            </div>
          </div>
        </div>
      </section>

    </div>
    <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
  </div>

  <%= _.template(require('./../includes/slider-card/slider-card.html').default)(data) %>
</section>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

