<section class="type-tire-area">
  <div class="container">
    <div class="title-block-area">
      <h1>
        <b>Выбор шин</b> по типу транспорта
      </h1>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
        <a href="/" class="card-type-area d-flex flex-column align-items-center"  data-aos="fade-up" data-aos-delay="0">
          <div class="card-type-img">
            <img src="img/type-1.jpg" alt="">
          </div>
          <span class="card-type-desc text-center">
            Шины
            <br>для грузовых машин
          </span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
        <a href="/" class="card-type-area d-flex flex-column align-items-center"  data-aos="fade-up" data-aos-delay="200">
          <div class="card-type-img">
            <img src="img/type-2.jpg" alt="">
          </div>
          <span class="card-type-desc text-center">
            Шины
            <br>для грузовых машин
          </span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
        <a href="/" class="card-type-area d-flex flex-column align-items-center"  data-aos="fade-up" data-aos-delay="400">
          <div class="card-type-img">
            <img src="img/type-3.jpg" alt="">
          </div>
          <span class="card-type-desc text-center">
            Шины
            <br>для грузовых машин
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
