@import "../../../sass/vars"

.type-tire-area
  background-color: $white

.card-type-area
  padding: 1.5625rem 1.25rem 1.25rem 1.25rem
  cursor: pointer
  background-color: $white
  border-radius:  0.3125rem
  border: 1px solid $color3
  transition: $transition
  margin: 0 0 1.875rem 0
  &:hover
    transform: scale(1.045) translateY(-1.125rem)
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25)

.card-type-img
  position: relative
  overflow: hidden
  border-radius: 0.3125rem
  min-height: 10.625rem
  max-width: 14.375rem
  width: 100%
  margin: 0 0 1.125rem 0
  img
    width: 100%
    height: auto
    object-fit: cover
    position: absolute
    top: 0
    left: 0

.card-type-desc
  color: #272727
  font: 400 1.0625rem/120% "OpenSans"
